[2016-08-26 10:08] tomsx opened #2 "Filter not working if cell contains [ _"
The filter in MenuStrip.cs is not working if a cell contains special characters like [ _.

with this change in MenuStrip.cs Row 614+615, it works just fine (needs some more testing)

                   foreach (TreeNodeItemSelector n in nodes)
                        sb.Append("'" + n.Value.ToString() + "'" + appx);
                    // OLD:  sb.Append("'" + FormatFilterString(n.Value.ToString()

[2016-08-27 12:41] davidegironi commented on #2
Hello, thank you for your feedback. I've fixed the FormatFilterString, check it out now and let me know, so i can close this issue.

[2016-08-29 12:28] tomsx commented on #2
Hi, it's only partially fixed.

The following steps describe how to reproduce this behaviour.

In FormMain.cs, modify this line :

before:
`    i*2 % 3 == 0 ? null : i.ToString()+" str",`
after:
`     i*2 % 3 == 0 ? null : i.ToString()+" str [0000] ",`

run the application and
1) select any value from the filter list (column string). Result: filter works correctly now.
2) set a custom filter  (equ

[2016-08-29 18:59] davidegironi commented on #2
You have to select the "contains" filter in order to filter part of the string (LIKE), the "equals" filter check for all the string lenght (=).
2) if you set a custom filter (contains 0000), Result, all cells which contains 0000.
Hope this helps.

[2016-09-15 05:42] OceanAirdrop opened #3 "Filtering Issue using IN clause instead of NOT IN"
First of all, I want to say GREAT project.  Good stuff.

I have found an issue, when filtering out the zeros (0) using the checkbox.

After you do this, when you edit the value of one the cells "in the column that was filtered", the row then disappears from the grid and when the event handler for CellEndEdit fires the value is null for the row/column that was edited.

I tracked the issue to the us

[2016-09-15 18:18] #2 closed

[2016-09-17 13:20] davidegironi commented on #3
Hello and thank you for your feedback.

 - DataType == typeof(decimal)

fixed, thank you

 - Reverse logic (NOT IN) for Menu Strip filter

I've add a selector for this type of logic you can set this logic by **SetMenuStripFilterNOTINLogic** function.
I use this as ReadOnly, that's the reason I've never came up to this issue. I still prefer the IN logic cause most of the time this filter will work

[2016-09-18 08:34] OceanAirdrop commented on #3
Thank you for looking into this.

I like your approach to the fix. The ability to "toggle" between the the 2 filter options is a good way of addressing this problem.

I have just checked and your code update and that will fix my problem.

Thanks.

[2016-09-18 09:30] davidegironi commented on #3
Thank you, I will take it to a production software I've here, then after it's tested I will update this as release and close this issue.

[2016-10-06 12:49] #3 closed

[2016-10-12 10:48] OceanAirdrop opened #4 "Dates not filtering when SetMenuStripFilterNOTINLogic(true) is set."
Hi there,

Thank you again for the previous "SetMenuStripFilterNOTINLogic()" addition.  It is working perfect for me.

I have, however found a side-effect issue when setting MenuStripFilterNOTINLogic to true to do with filtering of dates.

I have a fix which is working for me but just wanted to pass it via you.

DESCRIPTION OF PROBLEM

In the demo app, if you call the function: SetMenuStripFilterN

[2016-10-14 15:46] davidegironi commented on #4
Hello and **thank you** again for this feedback, very descriptive and with a resolution proposal, is not for all to be so accurate.
It cames out that there's this issue even for TimeSpan and bool, so I've edit line 515 from
[code]
to
[code]
Note: there are two useless parentesis, but I've left there for clarity.
Check it out and let me know if it works for your, then i will close this issue and po

[2016-10-16 15:15] davidegironi commented on #4
Thank you.

[2016-10-16 15:15] #4 closed

[2016-11-28 18:16] centroxy opened #5 "How to use this too when source is Entity Framework .. Not Dataset or Datatable"
How to use this too when source is Entity Framework .. Not Dataset or Datatable
How to set BindingSource.DataMember

[2016-11-28 20:34] davidegironi commented on #5
You can attach your entity to a BindingSource, then set the BindingSource a the source of the datagrid

[2016-11-28 20:34] #5 closed

[2017-02-06 11:24] ladelmula opened #6 "LoadFilterAndSort"
Hello, a question.... Is possible recover the original columns filters whithout put all the datagrid in "Loaded Mode"?
Thanks.

[2017-02-06 21:01] davidegironi commented on #6
Hello, at present not. This would be a nice feature to add. If you are planning to implement this, please le me know.

[2017-02-11 19:53] #6 closed

[2017-02-13 02:45] manikandanece opened #7 "Re-click on the filter button"
For an instance, I opened the filter menustrip by clicking the filter button.  The filter menu is now open.  If I want to close the filter menu, either I have to click on 'Cancel' button or I have to click somewhere else on the datagridview.  But we I re-click on the same filter button (of the column which already menustrip is open), the filter menustrip closes and opens again.  On this second cli

[2017-02-13 20:27] davidegironi commented on #7
Hello, thank you for this suggestions. Unluckly I can not repeat the behaviour you are describing here. Have you got a screencast for this?

[2017-02-24 17:37] #7 closed

[2017-03-07 15:19] xxbiohazrdxx opened #8 "Inconsistent naming for sort & filter enable/disable functions"
In the AdvancedDataGridView class, we have

[code]

But we also have

[code]

As someone who had to read through the code to find out how things worked, these function names are inconsistent and cause confusion. Enable/DisableFilterAndSort completely disables the column header dropdown, and calling SetFilterEnabled will not turn on filtering.

Furthermore, Having SetFilter/SortEnabled accept a boo

[2017-03-07 15:28] xxbiohazrdxx opened #9 "Calling SetFilterEnabled or SetSortEnabled after DisableFilterAndSort has been called does nothing"
When 'DisableFilterAndSort' as is called for a column, the features of "Filter" and "Sort" cannot be turned on individually through 'SetFilterEnabled' or 'SetSortEnabled'

I think it might make more sense to remove 'DisableFilterAndSort' and 'EnableFilterAndSort' completely, and simply disable the individual "Filter" and "Sort" features exclusively through 'SetFilterEnabled' and 'SetSortEnabled'.

[2017-03-07 18:42] davidegironi commented on #9
Hello, thank you for suggestion, i will reply you in the other issue opened for almost the same reason.

[2017-03-07 18:42] #9 closed

[2017-03-07 18:50] davidegironi commented on #8
Thank you for your suggestion.
For backward compatibility I prefer to add functions instead of removing. What do you think about adding just one function, the one below?

[code]

[2017-03-07 18:53] xxbiohazrdxx commented on #8
Good point on the backwards compatibility. That method looks good to me. You could also flag the older methods with the '[Obsolete]' sugar to generate warnings for those using the old methods and guide them towards the new one.

[2017-03-07 19:12] davidegironi commented on #8
Thank you, committed.

[2017-03-07 19:12] #8 closed

[2017-06-12 16:11] desarrollo03TR opened #10 "Working with pre-designed columns"
Hi! I have an AdvancedDGV with columns pre-designed (using the VS designer) and I cannot make datetime and int columns works with sorting and filtering, it works like text sort/filter.

Is there any way to achieve custom sorting/filtering for pre-designed  columns?

[2017-06-12 19:03] davidegironi commented on #10
Hello, you have to attach the FilterStringChanged and SortStringChanged event. Take a look at the FormMain code for an example.

[2017-06-12 19:03] #10 closed

[2017-07-03 22:11] desarrollo03TR opened #11 "Using ADGV with a list of objects"
Can I use a List<T> as DataSource with BindingSource? Is there an example of using a List?

[2017-07-04 06:39] frahman2 opened #12 "Search box"
Hi,

I am using your ADV, and I have to say that it's great, however in the previous releases there was a search text box in the Columns filter. Please is there a way to have it back.
![missing_adgv](https://user-images.githubusercontent.com/22269776/27818020-f6f9317c-60a4-11e7-8036-1f68b4cea7a2.JPG)

[2017-07-05 17:56] davidegironi commented on #11
Hello, you should convert the list to a dataset, using something like the DGDataTableUtils you can find here https://gist.github.com/davidegironi/9348c74c01d979942901
Suppose you have the list myList of type MyListType (List<MyListType> myList) and you BindingSource myMainBindingSource, you can set the DataSource in this way myMainBindingSource.DataSource = DGDataTableUtils.ToDataTable<MyListType>

[2017-07-05 17:56] #11 closed

[2017-07-05 17:59] davidegironi commented on #12
Hello and thank you. In my release there has never been that search box, I suppose you are talking about another release, anyway it could be an interesing implementation. Let me know if you are planning to build that.

[2017-07-06 05:16] frahman2 commented on #12
Hi,
I had one of your old releases which contained that, any how I have Added it to the the new release. I have built it and it' working fine.
![adgv](https://user-images.githubusercontent.com/22269776/27896528-c343e5a6-622b-11e7-8473-79a383bb0bff.png)

[2017-07-06 05:20] frahman2 commented on #12
Attached after Building

[AdvancedDataGridView.zip](https://github.com/davidegironi/advanceddatagridview/files/1126810/AdvancedDataGridView.zip)

[2017-07-06 05:26] WinProgrammer commented on #12
An easier way frahman2 instead of a zip file, would be to create a fork of the project, then you can do a Pull Request of your changes. Makes it much easier for fork maintainers to check other people's updates, fixes etc.

Just some constructive criticism :)

[2017-07-06 08:31] frahman2 commented on #12
Thank you for the comment :+1:  , I will keep than in mind.

[2017-07-06 17:32] davidegironi commented on #12
Than you frehman2.. give me some days to inspect the code then i will try the merging

[2017-07-09 15:03] davidegironi commented on #12
Hello, try out this version, available for 2 days: https://expirebox.com/download/3f7439f3039ce14ee431b9be06dd4486.html
Let me know, if you think the behaviour is correct I will publish that.

[2017-07-10 08:32] frahman2 commented on #12
Hi David,

it's working fine, however it's slower and is providing the option to select based on the search criteria, I would rather go for the same behavior of excel to filter the list and show only the queried data. Please see below screen shot for the last version uploaded by you.
![adgv-search02](https://user-images.githubusercontent.com/22269776/28009174-849748e6-656b-11e7-9f39-734fd224aafd.p

[2017-07-11 19:57] davidegironi commented on #12
Hello, I do not understand what you mean with "slow", to me it seems the same speed, anyway, here you can find the code with the Excel behaviour implemented, one can even build his version with that behaviour not implemented imposing to false _checkTextFilterRemoveNodesOnSearch from MenuStrip.cs.
Code here (2 days expire): https://expirebox.com/download/11e36dca6335aae873455a85f25b5617.html
This a

[2017-07-16 11:23] frahman2 commented on #12
Hello, I meant By slow based on amount of data ( More than 80,000 records ). Please the link is expired, as I am interested to see the fix of the double filter.
Thank you.

[2017-07-16 18:38] davidegironi commented on #12
Hello, here it is the new link: https://expirebox.com/download/4bdab5640f4714f32a7034ac5feb657d.html

[2017-07-17 07:00] frahman2 commented on #12
Great and well done.
Thanks

[2017-07-17 19:46] davidegironi commented on #12
Thank you. Can you provide a sample code for that. Maybe starting from the actual github version, which I've updated right now.

[2017-07-30 17:12] davidegironi commented on #12
Hello @frahman2 I close this issue. I can not repeat the "open/close form" error, please open a new issue with sample code from the last stable release.

[2017-07-31 08:55] frahman2 commented on #12
Thank you so much

[2017-08-01 21:01] davidegironi commented on #12
@frahman2 There was a little issue in the actual Excel like version, opening the box after the filter is set I prefer to have the complete checked/unchecked. This version here implements this behavior (2 days expires): https://expirebox.com/download/8910f06f71fd9288f83b65700d4ee388.html
Let me know what do you thing about that. Thank you.

[2017-08-05 10:29] frahman2 commented on #12
Hi,
Davide I am sorry I was Away for couple of days, Please re upload again.

Regards,
Firas

[2017-08-05 11:30] davidegironi commented on #12
Hello, no problem, here is the new link: https://expirebox.com/download/1be082a49f1288333a6ec1ea840d6eea.html

[2017-08-05 12:31] frahman2 commented on #12
Great and the performance is good.

[2017-08-07 18:20] davidegironi commented on #12
@frahman2 Thank you for testing. I will close this issue now and publish a release. Again, I can not repeat the "open/close form" error, please open a new issue with sample code from the last stable release.

[2017-08-07 18:20] #12 closed

[2017-08-23 20:41] LightTempler opened #13 "Going further with even more advanced flexibel filters"
Hello,
first of all: Great to see development of this control is going on, many thanks for!

I'm looking for possibilities to take filtering to an very user orientated level. In combination with saving filters this could save so many time, if you need same filters of updated data on regular base.
A good example is checking a logfile for three different complex combined filters/sorts.

**Date**   D

[2017-08-24 17:10] davidegironi commented on #13
@LightTempler hello and thank you.

For the **String** you can use the _Custom Filter_, you can find there equals, begin with.. and so on
About the **Integer** and **Date** request, this will be an interesting features to add. At present I'm involved in other project, but when I had time I will thing about adding that. In the meanwhile if you plan to implement those features please share that here

[2017-08-24 17:10] #13 closed

[2017-08-24 19:04] LightTempler commented on #13
I understand 'Custom Filters' for strings and the options there. What I miss/need are MORE than one of the wildcard conditons there OR connected: This OR this OR this.

[2017-08-25 07:16] davidegironi commented on #13
@LightTempler now i get that. When i had time that would be an interesting feature to implement.

[2017-08-26 08:09] LightTempler commented on #13
Sounds great, thank you!
Hint: Waste no time in trying to get requests like (IN ('Begin%', '%middle%, '%endhere')) to work. I 've already tried your demo code and goggled up and down: IN doesn't work with wildcards :(
But an extended filter dialog with let 's say three conditions and a WHERE LIKE 'Begin%' OR WHERE LIKE ... would fit most needs/cases.

[2017-08-26 10:49] davidegironi commented on #13
@LightTempler thank you for your feedback. I have to admin that now I'm really fully involved in other things and I do not know when I could do that, but anyway, you will eventually see this update right here.

[2017-09-01 20:14] nhinzevt opened #14 "Support for High DPI"
Thanks for this awesome control. I'm having trouble upgrading it to work for High DPI screens. I updated the ADV Sample code using the link below. Everything looks sharp, but the filter is having some formatting problems.

<img width="627" alt="capture" src="https://user-images.githubusercontent.com/16492026/29986239-8c16bbc6-8f30-11e7-9a79-b275109bb0ae.PNG">

http://crsouza.com/2015/04/13/how-to-

[2017-09-03 12:48] davidegironi commented on #14
Hello and thank you. I think you have to check the private void ResizeBox method in MenuStrip.cs. Please do it with a parametric option, so one can enable or disable the High DPI capabilities. If you do that please let us know.

[2017-09-03 12:48] #14 closed

[2017-09-06 11:33] nhinzevt commented on #14
I have started work on this in my fork. From my testing, a parametric option is not needed so far, because on normal DPI the scaling is 1.0.

I'm having trouble removing or hiding the black triangular arrows. I don't understand where they are coming from:

<img width="238" alt="capture" src="https://user-images.githubusercontent.com/16492026/30109781-a144fa6e-92d5-11e7-98f5-a90a6de9a63d.PNG">

Wor

[2017-09-06 20:07] davidegironi commented on #14
I've download your branch and compile, but I don't have that triangles coming out. I must say that do not have an High DPI monitor so it may depends on that.

[2017-09-11 20:27] LightTempler opened #15 "Risizing filter dialog"
Hello,
after resizing (increasing) a filter dialog, the size grip right bottom vanishes and you cannot resize this filter dialog anymore. Dialog looks different diesigned after resizing.
Behavior persists on reopening and belongs to just the selected column.

Regards
LiTe

[2017-09-12 20:15] davidegironi commented on #15
Thank you for your feedback.
Try this version out: https://expirebox.com/download/ad438cc44617404073d785f1f0888f25.html
Expires in 2 days.
That bug should be fixed. Let me know.

[2017-09-12 20:16] davidegironi commented on #14
@nhinzevt  I was solving the issue here and I maybe found a way to make it woks with High DPI.
Thank you for your feedback.
Try this version out: https://expirebox.com/download/ad438cc44617404073d785f1f0888f25.html
Expires in 2 days.
Let me know. You have to try because i do not have any High DPI to test it against, thank you.

[2017-09-12 21:34] LightTempler commented on #15
You are fast :)
Thanks alot, this one is fine!
Now size grip is still visible after releasing mouse button.

[2017-09-12 21:34] #15 closed

[2017-09-13 18:55] davidegironi commented on #15
Thank you @LightTempler  for you feedback.
I'm waiting for the @nhinzevt one from this issue https://github.com/davidegironi/advanceddatagridview/issues/14 then I will push the new version.

[2017-09-13 19:10] nhinzevt commented on #14
I used the following file in the download:

\AdvancedDataGridView\AdvancedDataGridView\bin\Release\AdvancedDataGridView.dll

The result appears to be the same:

<img width="214" alt="adgv" src="https://user-images.githubusercontent.com/16492026/30395886-b4f5a8fe-9895-11e7-986c-90f78e92b6cf.PNG">

[2017-09-13 21:31] davidegironi commented on #14
Thank you for your test. It is still something related to ResizeBox method in MenuStrip.cs but I do not know how to fix it. If you find a solution please post it here.

[2017-09-13 22:06] davidegironi commented on #15
I've updated the source and release right now.

[2017-12-19 10:35] baba-banshi opened #16 "Filter not working with List and also no second time sorting is working"
The grid is failed to sort the data if we have sort it using any column it sticks and nothing happens. Filters are not at all working. The list can't sort the data default and so we referred sortable binding list from one of the blog and after that sorting is working but for only once.
Blog for sortable binding list: http://martinwilley.com/net/code/forms/sortablebindinglist.html

[2017-12-19 20:12] davidegironi commented on #16
Hello, you have to attache the FilterStringChanged and SortStringChanged events of the grid like exposed on the sample project in order to filter and sort the BindingSource attached to the DataGrid. Hope this helps.

[2017-12-19 20:12] #16 closed

[2017-12-20 06:38] baba-banshi commented on #16
Hello, I am using the whole sample project as It is, just using the List instead of DataSet, nothing else changed, these events are also attached and getting fire appropriately.
I have added the file, you can test replacing the FormMain.cs code file using this one.
[FormMain.zip](https://github.com/davidegironi/advanceddatagridview/files/1574473/FormMain.zip)

[2017-12-20 19:17] davidegironi commented on #16
Hello, in order to use the Filer and Sort on a binding source you have to use a DataTable.

[2018-01-16 11:56] seiyata opened #17 "Can I disable checklist?"
Could you advise how to disable the checklist of values when the button on column header clicked?
The checklist is useful but OutOfMemory error happens when handing huge number of records (> 500,000).

Btw, thank you very much for this very helpful tool :)

[2018-01-16 19:01] davidegironi commented on #17
Hello, you could edit the MenuStrip.cs file in order to add a disabler for the list. If you do this by parameters and methods, please share the code here.

[2018-01-16 19:01] #17 closed

[2018-01-16 20:07] davidegironi commented on #17
Addendum: I've just added the enabled for checklist try this version here and let me know https://expirebox.com/download/e1f4f9be00ee7ec79ceea3692b50cfb2.html link expires in 2 days.

[2018-01-18 01:51] seiyata commented on #17
The change worked great, thanks!
Can we hide the checklist area itself when the function disabled just for better looking?

![2018-01-18_10h48_28](https://user-images.githubusercontent.com/3234960/35076798-85bf6672-fc3d-11e7-9114-81bd6cfb6915.png)

[2018-01-18 20:24] davidegironi commented on #17
Yes, you have to code a little it in the MenuStrip.cs file, look at the sizing function.

[2018-01-22 09:22] seiyata commented on #17
Sure, I'll try. Thanks.

[2018-04-18 07:31] zubyk commented on #16
Hello pals! Thank you for support of my project, you do a great work
I receive many same questions as @baba-banshi  asked (where all that people get my email??)

Sorting/Filter with custom Lists or EntityFramework and all other collections not work because DataSource that you want to use must implement IBindingListView  interface and have Sort and Filter property.

more details you can search here

[2018-04-18 18:32] davidegironi commented on #16
Hello @zubyk. I've edit the README.md file. Thank you for this project, you made most of the work, and it great!

[2018-04-27 07:00] linefinc opened #18 "Nuget pack"
The work is remarkable but on Nuget store there's the old package.

It's possible to publish the current state of art?

Best regard

[2018-04-28 07:07] #18 closed

[2018-04-28 07:08] davidegironi commented on #18
Published to nuget https://www.nuget.org/packages/DG.AdvancedDataGridView/

[2018-04-28 10:01] linefinc commented on #18
Davide,

if you want, you can use https://ci.appveyor.com/ to build, validate and auto publish the code

[2018-04-28 10:03] davidegironi commented on #18
Thank you for suggestion!

[2018-04-28 10:09] linefinc commented on #18
Sorry, I forgot , the service it's free for Open Source project

[2018-05-04 12:14] tlgcmn opened #19 "I was using nuget version (ADGV) and can't upgrade it to new one"
Can you give some information about updating stable published release from nuget.
I download your new files and add as project reference but couldn't be able to work with them.

[2018-05-04 12:54] davidegironi commented on #19
Hello,
This is not the ADGV by Zuby, this is a fork of a the Zuby project.
If you are using Zuby library here: https://www.nuget.org/packages/ADGV/
You have to change slighly your code to make this library run.
To test this library you can use the sample project provided
So, just
git clone https://github.com/davidegironi/advanceddatagridview
delete the AdvancedDataGridView project
remove the Advan

[2018-05-04 12:54] #19 closed

[2018-05-30 10:05] jpmarques1 opened #20 "Advanced Datagrid View - Visual Basic"
Hello,

I'm trying to use ADVG with Visual Basic.

So far I'm doing fine for the basic functions and I'm really happy that ADVG is a consistent project.

Q1: How can i programatically change the sort icon from Ascending to Descending?

I would appreciate it very much if you could share some visual basic examples.
Thanks very much

[2018-05-30 18:59] davidegironi commented on #20
Hello,

to sort columns you just have to use the SortASC and SortDESC method, something like this:
`advancedDataGridView_main.SortASC(advancedDataGridView_main.Columns["double"]);`

Unluckly I do not have vb.NET examples.

[2018-05-30 18:59] #20 closed

[2018-06-05 08:44] jpmarques1 opened #21 "Clean sort of one column"
Hello,

I've a DGV with 7 columns and a sortstring with multicriteria.

How can I programatically clean the sort of only one column.

Thanks in advance,
JM

[2018-06-05 19:27] davidegironi commented on #21
Hello,

there not method to clean just one column Sort, you can use CleanSort method to clean all the column sort.
If you are going to implement the CleanSort and CleanFilter and CleanFilterAndSort to one column, please share this with us. Thank you!

[2018-06-05 19:27] #21 closed

[2018-06-06 16:10] jpmarques1 opened #22 "Set Filter String Programatically"
Hello,

I've two forms.

Main form with some buttons and combos and one form with an ADGV.

How can I open the form with the ADGV and programatically set the filter for two columns according to the selections of the main form

Thanks in advance,
JM

[2018-06-06 18:31] davidegironi commented on #22
Hello,

you can pass parameter to the constructor of the WinForm you are opening, then use the parameter you pass to set the sort (SortASC and SortDESC method), let's say OnLoad event on the Form.

[2018-06-06 18:31] #22 closed

[2018-06-07 08:26] jpmarques1 commented on #22
Hi David,

Thanks for your quick answer.

I need to pass to the new form the filter not the sort. Is there method for controlling the filtering for each column?

Thanks i nadvance,
JM

[2018-06-07 18:36] davidegironi commented on #22
Hello @jpmarques1, I'm sorry i though you are asking the same question as yesterday.
Anyway, unluckly there is no way at present to do this.
I may implement that in a future release, but nowaday I don't have time to develop on this project.
Of course, if you are going to implement this feature please share it here.

[2018-07-19 14:50] georgich opened #23 "RU localization"
Hello!
Tell me please, how to enable Russian localization?
Thank you!

[2018-07-19 18:09] davidegironi commented on #23
What to you want to localize?

[2018-07-19 18:34] georgich commented on #23
![1](https://user-images.githubusercontent.com/4652815/42962898-62f77a1a-8b9b-11e8-98bf-3e89075880ce.jpg)
Hi! For example this items. They are in English. Thanks.

[2018-07-20 05:03] georgich commented on #23
Can i translate theese items from my code? Not rebuilding your source code. Thanks.

[2018-11-05 12:34] OceanAirdrop opened #24 "Potential Solution for when you want to bind to a list of objects instead of a DataTable"
I had a need to bind my DataGridView to a List of objects instead of a DataTable.

But of course, in its current form the ADGV does not let you bind to a list of objects.  The FilterStringChanged and SortStringChanged events fire but nothing happens.

So I thought I would have a play with this today.  I found out that there is a nuget library that allows you to pass a dynamic string to the Where c

[2018-11-05 20:59] davidegironi commented on #24
Thank you for sharing this solution, It could helps other people that are in trouble with this!
If it's not a problem for you I would add this discussion link to the README of the project...

[2018-11-05 21:32] OceanAirdrop commented on #24
Oh, yes, that's fine. No probs from me.

[2018-11-06 19:59] davidegironi commented on #24
README files has now been updated. Thank you!

[2018-11-06 19:59] #24 closed

[2018-11-20 18:59] aa4re opened #25 "bitmap columns"
Hello, I thank you very much for your magnificent work. Today I have tried to use the Advanced DataGridView control but the filter and sorting of bitmap type columns does not work. I use the column of type bitmap to list the complete and pending tasks, it will be very interesting to add a functionality to sort and list this type of columns basing for example on its index.
Forgive for my language I

[2018-11-20 19:32] davidegironi commented on #25
Hello @aa4re, thank you for your suggestion, it will be really a nice feature! There are a few points you need to change in order to add the typeof(Bitmap) Sort and Order methods, most of them in ColumnHeaderCell.cs class. If you are going to implement this please share with us. I will implement this maybe in the next version, as soon as I have time to work on this.

[2018-11-20 19:32] #25 closed

[2018-11-22 16:16] Rick6Star opened #26 "Deselected filter items gone after filtering a second column"
Hello,

I have an issue with the filters on the AdvancedDataGridView.
Using the sample, when I deselect "1 str" and "10 str" in the filter of the "string" column and click the "Filter" button. "1 str" and "10 str" are filtered out.
Opening the filter again I see the items "1 str" and "10 str" are deselected.
Now I deselect "0" in the "decimal" column and click the "Filter" button.
Re-opening the "

[2018-11-22 20:09] davidegironi commented on #26
Hello @Rick6Star, than you for your suggestion. This is just out it works. Filter are applied in order.
Taking your example in account, if you "Clear Filer", you can see that "1 str" and "10 str" are back again but not selected in "string" column.
It would be maybe a nicer behaviour if they stay there but not checked. I may implement this as soon as I have time, but for now this is the working beh

[2018-11-22 20:09] #26 closed

[2018-11-23 07:10] Rick6Star commented on #26
@davidegironi thanks for your reaction. I understand why you did this.

I'll see if I can implement an EnableShowFilteredRecord enabler.
Do you have any sugestions that I have to take into account since I do not know your code?
When I have a working solution, I let you know.

[2018-11-23 15:07] davidegironi commented on #26
Unluckly not, @Rick6Star I'm really sorry to not have time to build this, but I'm really busy those days (building a new house + main job extra work :-/).
Anyway try this (try alswo with the "text" search.
line 766 of AdvancedDataGridView.cs
[code]

[2019-01-11 09:54] Novido opened #27 "Sorting on dates causes issues"
I have a column with dates (YYYY-MM-DD) and when I try to sort the data on one date it returns no rows. Even though I can clearly see that I have exactly that date in my data, and it even shows in the filter list.
However, if I add a custom sort with from and to date as the same date, it returns all the correct data.

This issue is only happening with dates, as far as i can tell at the moment.

[2019-01-11 10:17] davidegironi commented on #27
Hello @Novido , I've checked it right now with the sample project and can not find this issue. If you "Clear Filter And Sort" and then order by the "date" column, to me the date is ordered.

[2019-01-11 13:18] Novido commented on #27
Sorry, I meant I wanted to **filter** the dates. When i choose a date in the tree view all I get is blank. Same goes when I try to make a custom filter. Still, it works if I use "between" function with to and from as the same date.

[2019-01-11 13:31] davidegironi commented on #27
Hello, to me it works. Take a look at this screencast https://streamable.com/m01v5.
Do you have a different behaviour?

[2019-01-11 13:38] Novido commented on #27
I have two comments. First, your dates are in a different format than mine. I write my dates like this: 2018-01-11 (todays date).

Secondly, when I peek at the filterstring, even though I only pick one date, I get a string that includes all dates.

Example where I choose "2018-12-31" as my date:
(Convert([{0}], 'System.String') LIKE '%2018-11-30 00:00:00%') OR (Convert([{0}], 'System.String') LIKE

[2019-01-11 13:51] davidegironi commented on #27
I think the problem is not related to the date format (mine is localized in it-IT format) cause your filter date string is build in the same format of your datetime, and this is right. So the problem it's related to the picking choice.
Unluckly I'm not able to repeat your behaviour. But I've some test you can do
1) Try using the sample project, compile it.
2) Try on another PC, is that your PC Win

[2019-01-11 14:03] Novido commented on #27
Unfortunately I have Win7 and can not try on another OS. I do know the issue exist on other PC's though.

I'll try with the sample project and see if it behaves differently.

[2019-01-11 14:21] davidegironi commented on #27
You could also try this sample here: https://file.io/FZSE55 That is the one compiled right now from my machine.

[2019-01-16 15:42] Novido commented on #27
Ok so I found a solution to my problem. I'm unable for certain to tell if this is a valid bug fix or if it is just a fluke that the original code didn't work form me.

So what I did was in MenuStrip.cs in the function `private string BuildNodesFilterString(IEnumerable<TreeNodeItemSelector> nodes)`
i changed the line: `sb.Append("(Convert([{0}], 'System.String') LIKE '%" + Convert.ToString((IsFilte

[2019-01-16 19:40] davidegironi commented on #27
That is for sure related to the filtering query string on dataset. I think it could be related to the C# compiler version more than the localization. It would be interesing to take a look at the string generate WITH, and WITHOUT your modification. That could point us to an understanding.

[2019-01-17 08:07] Novido commented on #27
Here are the filterstrings from both the old and new code:

NEW
`([BASE_DT] = '2018-12-31 00:00:00')`
`([BASE_DT] = '2017-12-31 00:00:00' OR [BASE_DT] = '2018-12-31 00:00:00')`

OLD
`((Convert([BASE_DT], 'System.String') LIKE '%2018-12-31 00:00:00%'))`
`((Convert([BASE_DT], 'System.String') LIKE '%2017-12-31 00:00:00%') OR (Convert([BASE_DT], 'System.String') LIKE '%2018-12-31 00:00:00%'))
`

I've

[2019-01-20 11:00] davidegironi commented on #27
So, the OLD/mine version with my dll/exe compiled works, right? the OLD/mine version with your dll/exe compiled does not works, right? Compiled by you only works with your patch.
Can you try to build strings like this, and tell me if it works? They would be a mix between your path and my version. I can not do this cause I can not replicate your behaviour, sorry.
case a) (OLD with equals instead of

[2019-01-23 11:59] Novido commented on #27
Option a - Didn't work. Got the same result as the original code.
Option b - Didn't work. Got an error saying: "Cannot perform 'Like' operation on System.DateTime and System.String.

[2019-01-24 20:59] macgyver76 opened #28 "Localization support"
Can you add some ILocalizationProvider or resource file to setup custom context menu texts?

[2019-01-24 21:52] davidegironi commented on #28
Hello @macgyver76 , it's not in the upcoming plans, it would not be that difficult. I'll try to find time in the next days to do this but I can not promise it cause it's a pretty full period, sorry about that. I'll let you know.

[2019-01-24 21:52] #28 closed

[2019-01-24 22:00] davidegironi commented on #27
Option b - it's sensible, i should have think about that
Option a - this confirm that that's something in the "Convert" dataset filter function in your compiler that does not work as my compiler.
At least we have find that it's the Convert method. Because no one else seems to have this issue, and because with my compiled version you tell me that it works, I think I'll not change the code. Anyway i

[2019-02-08 16:59] Tommixoft commented on #24
This example is incomplete.
What a hell is 'listfilter' ?

[2019-02-08 17:08] Tommixoft commented on #24
Doesnt work.  FilterStringConverter at line  `var colName = temp1[0].Split('[', ']')[1].Trim();
` trowns out of index error. There is no any brackets. so split do not produce index 1.
in parameter **filter** application gets ServiceEmployee=True  so filter dont work because there is no any brackets.

[2019-02-10 16:03] davidegironi commented on #28
Hello @macgyver76 , can you please check this out? (this file will expire)
https://file.io/rO2Xxp
Tell me if it's good and if it works for you.
The sample files contains all the things you need in order to set it up.
Partial translations are admitted.

[2019-02-11 06:03] macgyver76 commented on #28
@davidegironi , "404 Page not found"

[2019-02-11 19:39] davidegironi commented on #28
@macgyver76 try this one: https://file.town/download/4f5lfr5w5n4lgry22qp9nrrrj

[2019-02-11 20:59] OceanAirdrop commented on #24
Ahh yes... For my use case I didn't have any boolean fields in my data model.  I must admit, I didn't check all datatypes. Only the ones I needed.. But it shouldn't be too hard to add that in though.  If I have got time I will take a look tomorrow.

[2019-02-11 21:00] Tommixoft commented on #24
Yeah i did some fix but i dont use it so did not do very good one. Just
made if - if no brackets in filter -then it means it's boolean so just
remove  ( ) and return it :)

On Mon, Feb 11, 2019 at 10:59 PM Ocean Airdrop <notifications@github.com>
wrote:

[2019-02-11 21:06] OceanAirdrop commented on #24
ahh cool..  yeah, that is pretty much what I would probably would have done as well..

[2019-02-12 06:25] macgyver76 commented on #28
Yup, that's better. Translations works fine. Would that feature be included in next release of ADGV as nuget package?

[2019-02-12 10:52] OceanAirdrop commented on #24
I have just knocked up a proof of concept demo app for this which can be found here: https://github.com/OceanAirdrop/AdvancedDataGridViewDataModel

I have tested it with the following data types:

- int
- string
- bool
- DateTime
- double
- decimal

If there are any other missing column types, I will leave it as an exercise for someone to add / improve upon.

[2019-02-12 19:32] davidegironi commented on #28
Yes, I think in a few weeks. Thank you for your check!

[2019-02-13 20:18] davidegironi commented on #28
@macgyver76 now published on nuget

[2019-02-24 20:41] Tommixoft commented on #24
Nice to hear that! :)

On Tue, Feb 12, 2019 at 12:52 PM Ocean Airdrop <notifications@github.com>
wrote:

[2019-02-24 20:45] Tommixoft commented on #24
I think this could be integrated into component itself. Because now
component's filtering or sorting feature dont work no matter what you use,
list, datatable and so on. Also datatables is old school, lists of class is
more popular so i guess author could implement this into component itself

On Tue, Feb 12, 2019 at 12:52 PM Ocean Airdrop <notifications@github.com>
wrote:

[2019-02-25 18:41] davidegironi commented on #24
@Tommixoft it can be done, where can i find your mod? here https://github.com/OceanAirdrop/AdvancedDataGridViewDataModel ?

[2019-03-30 18:46] desarrollo03TR commented on #24
My implementation:

    private void dataGridView2_FilterStringChanged(object sender, Zuby.ADGV.AdvancedDataGridView.FilterEventArgs e)
    {
        try
        {
            if ( string.IsNullOrEmpty(dataGridView2.FilterString) == true )
            {
                m_filteredList = m_dataGridBindingList;
            }
            else
            {
                m_filteredList  = FilterAndSo

[2019-03-31 16:18] OceanAirdrop commented on #24
I like it.  Not tested it out, but this is much cleaner than my original proof-of-concept and because it uses reflection, it side-steps the issue of having to detect the column type.

Nice....

[2019-04-05 10:59] RIDAAbder commented on #24
hello i charged all the libraries in my project but it seems that my visual studio doesn't recognisez DataPointGridViewModel
some help please

[2019-04-07 09:18] OceanAirdrop commented on #24
Hi @RIDAAbder - Yyou need to replace DataPointGridViewModel with whatever data class you have. That's the data you want to display in the grid.

For example:

public class Person
{
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public int Age { get; set; }
}

[2019-05-16 21:18] chrisheltzel opened #29 "Change Dataset or Select Statement at Runtime"
Can anyone confirm if AdvancedDataGridView works with a DataSet and TableAdapter programmatically set at runtime?

My program allows a user to select a database and a table or query at runtime to displays the contents.  The following snippet is an example where oleConn is the connection to a selected database and sSQL is the select statement for the table/view specified at runtime.

oleAdapter = N

[2019-05-18 17:31] davidegironi commented on #29
It should works but you have to make some changes to your design i think. The simpler thing is to use a BindingSource. Look at the ADGV sample project.

[2019-05-18 17:31] #29 closed

[2019-06-07 12:04] chrisheltzel commented on #29
I found the specific problem which was related to my use of DataGridViewTextBoxColumn in the grid. Prior to loading data I would configure each column with code like this (where dtColumns contains formatting info):

colTextBox = New DataGridViewTextBoxColumn
With colTextBox
  .HeaderText = dtColumns.Rows(i)("ColumnAlias")
  .DataPropertyName = dtColumns.Rows(i)("ColumnName")
  .DefaultCellStyle.Al

[2019-06-07 18:38] davidegironi commented on #29
Thank you for sharing your solution!

[2019-06-20 10:53] sepp89117 opened #30 "System.Data.SyntaxErrorException If bool is filtered and there is a whitespace in the column name"
Hello, I had a problem when I wanted to filter a column with bool. The column name contains a space. I added square brackets in your code and the problem was solved.

File: MenuStrip.cs
Line: 646
Original: FilterString + = "{0} =" + filter;
New: FilterString + = "[{0}] =" + filter;

greeting

[2019-06-20 18:12] davidegironi commented on #30
Hello @sepp89117 , I've checked my code. I've run my sample project you can compile here, clear the sort on double column, and then sorted the boolean one. It works here. Can you please do this check?
Thank you.

[2019-06-20 18:38] sepp89117 commented on #30
Hello @davidegironi, I have checked the lib according to your instructions.
Of course it works. The problem is another! If the column has a name of two words and you try to filter false or true, then there is the exception. The column name must be in square brackets, then it works.
Please change in your sample the column name as a test to "boolean col" or something similar, then you get the error.

[2019-06-20 18:46] davidegironi commented on #30
Thank you!
Now i get this. I've just publish a new release with this fix. Really thank you! The nuget package is beeing published.

[2019-06-20 18:46] #30 closed

[2019-06-20 18:58] sepp89117 commented on #30
Absolutely nothing to thank! ADGV is great and I am happy that I could contribute a very small part!

[2019-07-01 23:47] DragonBack74 opened #31 "Checkbox filters not localized in French"
Hi I have a small issue around filter translations concerning checkbox type columns.
The filters say True / false where they should say Vrais/Faux or Oui/Non ..
Can this be overwritten or fixed ?
Thanks !!!
<img width="237" alt="chkbox_filter" src="https://user-images.githubusercontent.com/52431515/60472952-471c9500-9c6b-11e9-9752-77fbd1b70419.png">

[2019-07-03 19:06] davidegironi commented on #31
Hello @DragonBack74 , thank you for your feedback. Check out the new release, you should be able to add the ADGVNodeSelectTrue and ADGVNodeSelectFalse fields to the language file.
Let me know if it's all ok.
nuget package is beeing published.

[2019-07-03 19:06] #31 closed

[2019-07-03 19:41] DragonBack74 commented on #31
Hello Davide,

Thank you for that quick reply and fix !!!!

Can you tell me where is the language file?

Also is there a way to remove filtering on one column at runtime?

Jérôme

De : Davide Gironi <notifications@github.com>
Envoyé : mercredi 3 juillet 2019 21:07
À : davidegironi/advanceddatagridview <advanceddatagridview@noreply.github.com>
Cc : DragonBack74 <jerome.claude@gmail.com>; Mention <m

[2019-07-07 21:26] davidegironi commented on #31
Look at the lang.json file in the sample project.
No, it's not possible to remove filtering on one column at runtime. If you add this function please share this with the community, it will be a pleasure to merge this mod.

[2019-07-16 13:29] Novido opened #32 "[Suggestion] Writing in the node filter on big data sets"
I'm working on quite large data sets and when I try to write a filter in the text box above the tree node, it updates the result after every character. Having 10k+ unique posts makes that update process tedious.

What i would want is to have the tree node update first when the user is done writing what he is looking for. And also to make it asynchronous so the entire computer won't freeze for ever

[2019-07-16 16:55] davidegironi commented on #32
Hello @Novido , it's in the MenuStrip.cs file, but's there a little bit of code around to do what you need. At present I'm fully involved in other projects, but if I had time I'll take a look on it. Meanwhile, if you want to implement this, please share it in this repository.

[2019-07-16 16:55] #32 closed

[2019-07-18 15:45] RustonPaving opened #33 "Date filtering not working with SQL source"
When using a datatable/table adapter that's getting data from a SQL table filtering on a SQL date column does not seem to work.  It treats the data as generic text and doesn't show the more advanced date filtering where you can drill into the years/months.  I've confirmed the column in the data table is configured with the appropriate DateTime datatype.  I'm using VB.Net.

I've also used the SetFi

[2019-07-18 16:33] davidegironi commented on #33
Please refer to the sample provided in code, there you can find a way to make the filter works. Also, take a look here: https://github.com/davidegironi/advanceddatagridview/issues/24 it may be interesting to you.

[2019-07-18 16:33] #33 closed

[2019-07-18 18:46] RustonPaving commented on #33
I found that when I specified the datasource in code it worked as expected.  But when I did it through the GUI it would treat dates as strings.  I didn't change anything else about my code.

[2019-07-19 13:14] EllebiVr commented on #33
I have the same problem.

[2019-07-19 13:59] RustonPaving commented on #33
Glad to hear I'm not the only one :)  In case it could help anyone else, here was my final solution...

[code]

I still think there's an underlying problem, I don't know why this wouldn't work when configured thru the GUI.

[2019-07-28 17:03] davidegironi commented on #33
Thank you for sharing this solution here.

[2019-07-29 09:39] EllebiVr commented on #33
I think the problem is that with the GUI the columns are set by default as DataGridViewTextBoxColum

[2019-10-03 19:38] namnntt opened #34 "Advanced DataGridView on manual columns?"
I am trying to put a filter on datagridview with ADGV However, when I create Datetime value columns by manually the filter does not display filtering by the Year, Month, and Day values. When the column is created automatically, in runtime this columns shows exactly how to filter. I want to create these DateTime value columns by manually. What should I do?
![Auto](https://user-images.githubusercont

[2019-10-04 08:34] davidegironi commented on #34
I do not understaind what are you asking, what do you mean with "by manually"? The way the filter expose values depends on the Type of the underline row, You should define the proper type on the row you want to filter.

[2019-10-05 14:26] namnntt commented on #34
this is manual columns
![Manually](https://user-images.githubusercontent.com/12720560/66256320-cfed2480-e7b6-11e9-83f0-7adb1172d13e.jpg)

[2019-10-05 15:25] davidegironi commented on #34
You should bind it to a BindingSource, and set the DataPropertyName, or you could pragmatically set the column type by Name using the DataType property.

[2019-10-07 16:29] abbastoz opened #35 "Grid view columnheader(dropdown list) have duplicated values"
Hi, how can i prevent duplicated values in filter ( dropdown list). There is an example below.
![D32B7557-142F-42D7-9E96-2B6CC00EFBE5](https://user-images.githubusercontent.com/45153199/66330293-c7245c00-e938-11e9-8acb-769e7c415150.jpeg)

[2019-10-09 18:13] #34 closed

[2019-10-09 18:13] davidegironi commented on #35
Where did you get this screenshot?

[2019-10-09 20:02] abbastoz commented on #35
it was just an example. Here is the actual screen-shot,  Why is it duplicated? Can you prevent duplicates.?
![duplicate](https://user-images.githubusercontent.com/45153199/66515988-c3cfd280-eae8-11e9-857c-84c0f4871295.jpg)

[2019-10-09 20:03] abbastoz commented on #35
even one or two of them selected, the filtered result is same.

[2019-10-09 20:07] abbastoz commented on #35
And also is there a way clear all filter,i use datagridview1.ClearFilter(), this is works but filter checkbox situation does not changes.

[2019-10-11 10:17] davidegironi commented on #35
Hello, i do not have duplicate, edit the sample as follow to insert just two lines, same values. You should find no duplicate in the list. I do encounter the ClearFilter problem to. Check the sample button "Clear Filter And Sort".

`
/*for (int i = 0; i <= 100; i++)
            {
                object[] newrow = new object[] {
                    i,
                    (decimal)i*2/3,

[2019-10-11 10:17] #35 closed

[2019-12-31 12:29] jupe opened #37 "Option to disable custom filtering"
Is it possible to disable custom filtering ? If not, please could you add option for it, thanks.

[2020-02-26 18:49] davidegironi commented on #37
Dear @jupe , sorry for my delay.
Check this code out and let me know https://file.io/VQ2yrd
Functions DisableFilterCustom, EnableFilterCustom, SetFilterCustomEnabled has been added.
Let me know.

[2020-03-03 13:44] tumbelo commented on #37
Hi, @davidegironi,

I got 404 when attempting to access that....

[2020-03-03 18:09] davidegironi commented on #37
@tumbelo think it was expired. Try this one, let me know. https://file.io/iIhG56
Thank you.

[2020-03-03 18:56] jupe commented on #37
any chances to push changes to git instead?

[2020-03-04 08:47] tumbelo commented on #37
I still got 404 with a new link. I totally agree with @jupe, that it would be easier and more "standard way" to have changes/proposals in Git. Could you add a feature branch for example?

[2020-03-04 17:38] davidegironi commented on #37
I prefer not to add a new branch, it's a kind of... i don't know... my way of git-ting :)
Let's try this one: https://filebin.net/cwlx2iu5t9uw4hnn
If this one also do not work, let me know, I'll do an "experimental"(or something like that) branch.
Thank you for understanind.

[2020-03-05 05:50] tumbelo commented on #37
Thank you - that worked! I will give a try for it, but it's not before next week. So, let's keep in touch. By the way: if/when it works like assumed, you are going to push changes to master or do you plan to keep disabling unofficial version?

[2020-03-05 18:22] davidegironi commented on #37
@tumbelo thank you for testing. Yes of course, pushing changes to master and the new version to nuget.

[2020-03-11 11:37] tumbelo commented on #37
I finally had time to check this! Works like assumed. Thank you! Good work!

So, go for master from my point of view :)

In fact for my application "SetFilterCustomVisibility" would be much better option. Could you add also that? I mean: I will never let user use custom filters, so user may be confused if custom filters are visible (even grayed as inactive). Would be clearer, if there wouldn't be

[2020-03-12 10:39] davidegironi commented on #37
Published to master, and nuget. As for the SetFilterCustomVisibility I'll do this as soon as i get time. Thank you.

[2020-03-12 10:39] #37 closed

[2020-03-12 11:01] tumbelo commented on #37
Excellent, thank you!!!

[2020-03-12 11:02] tumbelo commented on #37
I will open issue for SetFilterCustomVisibility :)

[2020-03-12 11:08] tumbelo opened #38 "New feature request: SetFilterCustomVisibility"
"SetFilterCustomVisibility" would be great feature. I mean: I will never let user use custom filters, so user may be confused if custom filters are visible (even grayed as inactive with SetFilterCustomEnabled). Would be clearer, if there wouldn't be custom filter menu items visible at all.

[2020-03-25 10:53] davidegironi commented on #38
@tumbelo , thank you for the suggestion. It takes a bit to trim the resizing function in order to work with a custom/visibility behaviour. As soon as I have time I'll try to code this. For the next release, the thing I could do, is to Disable even the "Custom Filter" ToolStripMenuItem, that way it would be clear if it's enable.

[2020-03-25 10:53] #38 closed

[2020-04-09 14:36] Usernumber76 commented on #33
I ran into the same issue when using the GUI to bind a SQL table.  I think it has something to do with valuetypes not being applied until runtime so they appear as default text cells.  If I use the GUI and remove all DateTime fields from the DataGridView, then add them in code, it causes the addcolumn event to fire and applies the new headercell info.

[2020-04-14 15:46] siwix1 opened #39 "SetFilterChecklistEnabled and slow checklist filters"
Thanks for making this control. The excel like filters are great, I just have a question regarding the checklistfilters.

            foreach (DataGridViewColumn col in applicationGridView.Columns)
            {
                applicationGridView.SetFilterChecklistEnabled(col, show);
            }

I1m working with large datasets (100K+) . Unfortunately, the checklist filters are very slow with t

[2020-04-15 15:58] siwix1 commented on #39
It must have been just something in my test project's tab controls. In my actual user control it worked. It would be nice though, if you could limit the number of items shown like Excel does, to speed it up a little I mean.  Thanks.

[2020-04-15 15:58] #39 closed

[2020-04-15 16:20] davidegironi commented on #39
Thank you for sharing. I've checked it this morning but I've not time to reply you. That could be a nice feature that I may implement in some next release.

[2020-04-26 13:26] naji-makhoul opened #40 "rtl support"
datagridview not support rtl

![rtl1](https://user-images.githubusercontent.com/5232373/80308966-9889a800-87da-11ea-8e4b-f2a2c9516e93.jpg)

![rtl2](https://user-images.githubusercontent.com/5232373/80308971-9e7f8900-87da-11ea-8b3a-63a5c7bd66f0.png)

[2020-04-26 15:50] davidegironi commented on #40
@naji-makhoul thank you for feedback. This datagrid do not support RightToLeft, if you are going to implement this feature please share with me. Until that you could force the left to right direction of your AdvancedDataGridView instance by setting the RightToLeft property (ex. advancedDataGridView_main.RightToLeft = RightToLeft.No).
I'm going to forced to left to right direction changing the cons

[2020-04-26 15:50] #40 closed

[2020-04-28 05:53] ravit23 commented on #24
Hi ,
i have downloaded your demo project , thanks for developing advancedgrid with objects , after filtering i am not see other entries in the filter form like excel filter.

Could you please help me in this.

Regards,
Ravindra

[2020-04-28 08:55] davidegironi commented on #24
Dear @ravit23 , please test it with the AdvancedDataGridViewSample solution provided.

[2020-04-28 14:52] ravit23 commented on #24
Thanks for your reply , please find the attached document for your referrance, i am not able to see complete entries in the filter popup window once i selected any item in the filter.
[Advanced data Grid View Filter.docx](https://github.com/davidegironi/advanceddatagridview/files/4546523/Advanced.data.Grid.View.Filter.docx)

[2020-04-28 14:58] RIDAAbder commented on #24
hi bro,
send me an image of the code and will i solve it for you

Le mar. 28 avr. 2020 à 14:52, ravit23 <notifications@github.com> a écrit :

[2020-04-28 15:22] ravit23 commented on #24
Hello,
Thanks for quick response.
Based on your demo project code only i am trying , i am not able to see complete entries in filter popup window once i filtered , Please find my below steps as per the excel
-   useually if we filter in any one column for one entry the respective rows will be displayed in the excel sheet
- after that if i want add another filter on top of my first filter  then i w

[2020-04-29 06:34] ravit23 commented on #24
Please let me know if my query is not clear.

[2020-04-29 20:52] davidegironi commented on #24
You question is not referred to the topic of this issue. Anyway, you should check the SetTextFilterRemoveNodesOnSearch method, i think that's the behaviour you want to achieve.

[2020-04-30 11:23] ravit23 commented on #24
Thanks for the reply, even this method is not triggering is not called during this operation. Finally i have achieved this by IBindingListView but i am facing Empty rows issues in the datagrid view. Please find the below code snippet which i am facing empty rows issue.
 public object this[int index]
        {
            get
            {
               if (index < AllMessages.Count)

[2020-04-30 11:25] ravit23 commented on #24
Please suggest me how to resolve this empty rows issue in the AdvancedDataGridView.

[2020-05-03 07:53] ravit23 commented on #24
Hi,
i am able to resolve all the issues , no need to look for any thing, thanks for quick responses for my queries.

Regards,
Ravindra

[2020-05-03 17:12] davidegironi commented on #24
@ravit23 happy to hear this. It's way better than us solving for you, I mean that you have learn much more in this way.

[2020-06-16 01:03] zzbbcc opened #41 "Memory Leaks after MenuStrip.Show()"
The MenuStrip object will not be released by GC after executing MenuStrip method "public void Show(Control control, int x, int y, IEnumerable<DataGridViewCell> vals)".

[2020-06-16 14:10] davidegironi commented on #41
The MenuStrip object it's created once in the ColumnHeaderCell costructor, do I miss something?
Please provie me a Memory Usage snapshot, an example, or something that helps me solve this issue. Thanks!

[2020-06-17 07:29] zzbbcc commented on #41
I add a project TestForm to the fork.
https://github.com/zzbbcc/advanceddatagridview

A big array added to MenuStrip to larger the memory allocation.

Reproduce steps:
Scenario 1
1. Click button "FormDGV.Show()".
2. Click button "Set Table".
3. Close FormDGV.
4. Click button GC.Collect, MenuStrip collected by GC.

Scenario 2
1. Click button "FormDGV.Show()".
2. Click button "Set Table".
3. Click M

[2020-06-17 20:21] davidegironi commented on #41
Thank you zzbbcc.

I think this leak may be related to the Dispose method implementation of DataTable and DataRow.
Indeed if you take a Memory Usage snapshot using the Diagnostic Tool, you will find DataRow objects growing in number.
I've slightly edited you Test form, you can find it here: https://filebin.net/oc3lf2wm30ded5tu.
Excuse me but I'm out of my main PC with my github credential, so I wi

[2020-06-18 08:09] zzbbcc commented on #41
Thank you for checking.
It's interesting to know DataRow do leaks. But I also notice MenuStrip may cause leaks larger than DataRow.
I add button "FormDGV Show() + MenuStrip.Show()" to FormMain. And I add a method "ShowAllMenuStrip" to AdvancedDataGridView to bring up all MenuStrip after table loaded. Through diagnostics tool I found TreeNode and Zuby.ADGV.TreeNodeItemSelector growth fast and not r

[2020-06-18 09:48] davidegironi commented on #41
So, we have now removed the DataRow leak. Now we are getting in the AdvancedDataGridView leak. Today I've little time to test it.
I've noticed ColumnHeaderCell events never get disconnected when on object is closed, this may cause the GD not to collect the object.
Also pragmatically call a Dispose on MenuStrip may help.

Try adding this on the AdvancedDataGridView.cs file and let me know.
Thank yo

[2020-06-18 09:57] zzbbcc commented on #41
I did tried to dispose MenuStrip on ColumnRemoved before, and it fixed the leaks. But it somehow throw exception at MenuStrip.designer.Dispose() on main process closing with error message "Invalid Parameter". The weird thing is the exception not always happened. Currently I suppress the exception so user won't see the error.

[2020-06-18 11:12] davidegironi commented on #41
I made very few tests, more needs to be done, but OnHandleDestroyed i don't get that exception, although if this works on OnColumnRemoved it's maybe better.
Also the events detach is recomended, so I will add this somewhere.
I will try to fix it too. I think I'll have time within a few weeks. If you find a fix without the try catch trick, let me know here.

[2020-06-24 18:32] mendya opened #42 "Assembly does not have strong name"
I'm trying to strongly name my project and this assembly is not strong named.
Can you possibly correct that?

[2020-06-24 19:26] davidegironi commented on #42
Dear @mendya , it's not in the plan, I've never need it, sorry for that. Maybe I'll sign it in a future release. I leave this as a TODO step.
For now you can fork and make you own strong-named assembly.
Can I ask you why you need strong-named dependency too?

[2020-06-26 21:15] wdavies973 commented on #24
It doesn't look these methods work for custom filter? Does anyone have it working with that?

[2020-06-27 11:41] davidegironi commented on #42
Still considering the Pros and Cons of strong-named assemblies, by now I will not sign it,

[2020-06-27 11:41] #42 closed

[2020-06-29 14:13] mendya commented on #42
Hi

Sorry I got this so late. I was experiencing difficulties with mcaffee
antivirus was thinking my program was a virus, so I was hoping my strong
naming my program , it would leave me alone.
Thanks for your help , I will try what you suggested about forking.

On Wed, Jun 24, 2020 at 3:26 PM Davide Gironi <notifications@github.com>
wrote:

--
Mendy Aaron
Lead Technologist
Croton Group
201-939-510

[2020-06-29 14:15] davidegironi commented on #42
Now I get it. Let me know if strong naming it solves your issue.

[2020-07-06 17:52] davidegironi commented on #41
Hello @zzbbcc ,
finally I've got time to pack code and test the main code, please test this source: https://filebin.net/s94648vvqu4yooig
It adds the Memory test button.

[2020-07-07 01:29] zzbbcc commented on #41
Hi @davidegironi ,
that's great to hear it. I will put this to my project and observe whether the exception still.
Thank you.

[2020-07-07 11:59] davidegironi commented on #41
Thank you! I'll wait for your feedback to publish the new version.

[2020-07-21 03:16] michaelbrucelin opened #43 "hide or show column panel"
If add a panel to control the Visible property of all columns, it would be great

[2020-07-21 17:05] davidegironi commented on #43
Hello @michaelbrucelin , I do not understand what you mean.

[2020-07-21 17:07] davidegironi commented on #41
Hi @zzbbcc , have you check it?

[2020-07-22 01:05] zzbbcc commented on #41
Hi @davidegironi ,
Yes, I don't receive any exception from then on.

[2020-07-22 16:33] davidegironi commented on #41
Thank you!
Fixed on version 1.1.x.8, commited to master, published on nuget.

[2020-07-22 16:33] #41 closed

[2020-07-22 16:33] #43 closed

[2020-07-23 02:36] michaelbrucelin opened #44 "hide or show column panel"
If add a panel to control the Visible property of all columns, it would be great.
Like this, when you right-click a column header, a panel will pop up, you can control to hide the current column, display all columns, and display and hide all other columns. When the mouse click other position of the DataGridView, the panel will disappears.
![datagridview column hidden panel](https://user-images.git

[2020-07-23 16:33] processor-gis commented on #16
I'm using a datagridview that has over 100k rows and its very slow to get the filtering dialog box to appear.  It usually takes 5 or 6 minutes to open but after that the filtering works fine.  I love this control but is there any possible way to speed it up?  I think the issue might be with populating the unique values in the filtering dialog box.

[2020-07-23 16:38] processor-gis opened #45 "filter dialog slow to open with large datagridview"
I'm using a datagridview that has over 100k rows and its very slow to get the filtering dialog box to appear. It usually takes 5 or 6 minutes to open but after that the filtering works fine. I love this control but is there any possible way to speed it up? I think the issue might be with populating the unique values in the filtering dialog box.

[2020-07-24 11:31] davidegironi commented on #45
Hello @processor-gis , yes, that's due to the Filter list population, you can disable it by using the SetFilterChecklistEnabled method, find an example on the sample project. If you find a faster way to build this, please share with me.

[2020-07-24 11:31] #45 closed

[2020-07-24 11:37] davidegironi commented on #44
Hello @michaelbrucelin , thank you for suggestion. I had to think about this, maybe if could be added to the SearchToolbar component.
By now you should make visible or not setting the column Visible proporty, like so `advancedDataGridView_main.Columns["columnname"].Visible = false;`
Anyway, if you are going to build this feature, please share with me.

[2020-07-24 11:37] #44 closed

[2020-07-27 00:33] michaelbrucelin commented on #44
This feature has not been built yet, if I build this feature, I must share it with you, although my code level is limited.

[2020-08-14 10:13] Etos7 opened #47 "Sort string contains a property that is not in the IBindingList."
Advanceddatagridview is crashing when trying to  sort any column of any type:

Code that I'm running:

[code]
![image](https://user-images.githubusercontent.com/31066103/90239040-35725e80-de27-11ea-9c22-0e23137d8ed6.png)

Filter does not work too.

[2020-08-14 10:27] davidegironi commented on #47
Hello @Etos7 , try setting the DataMember of the bindingsource, like in the sample project

[2020-08-14 10:27] #47 closed

[2020-10-16 15:59] miguelmpn opened #48 "Edit filter options"
Hello,

How can I edit the filter options in the columns?
My DGV is bound to a DataTable, but on the CellFormatting I change the cells in the column from blank to "FPGA", I would like this to be reflected on the filters.

![Image of DataGridView](https://i.ibb.co/hWn2ZPw/image.jpg)

Should I edit the cells in another way?

[2020-10-16 16:53] davidegironi commented on #48
Hello @miguelmpn , if I've understand your need, you should take a look to the internationalization capabilities of ADGV. Loot at the "ADGVNodeSelectEmpty": "(Blanks)", fields of the json language file.
The AdvancedDataGridViewSample project will show you how to load custom language files.

[2020-10-16 16:53] #48 closed

[2020-11-05 02:34] billpeet opened #49 "Port to .NET 5"
The future of .NET is .NET 5 :)
It appears the DG.AdvancedDataGridView NuGet package actually works on a .NET 5 project (even if NuGet complains), it looks like it's at least partly compatible.
Any chance of officially targeting .NET 5 in a future release?

[2020-11-05 18:24] davidegironi commented on #49
Hello @billpeet ,
unluckily I've no plan for .NET 5 or .NET Core, time to develop this open project is reduced. Also, up to now NET.5 is still RC, i think I will in the future skip .NET Core and go to .NET 5, when it will be stable. Of course hope I've time to perform this task.

[2020-11-05 18:24] #49 closed

[2020-11-17 15:01] supawix opened #50 "Performance issue when binding multiple columns"
Steps to replicate
1. Add 200 - 300 columns in datatabe
2. bind to advanceddatagrid view

Expected Result:
-It should load fast just like normal datagridview.

Actual Result:
-Binding takes 2-3mins. Compare to normal gridview takes only a 1-2 secs

Hope this helps :)

[2020-11-17 21:33] davidegironi commented on #50
Thank you @supawix
Advanceddatagrid is not optimized for that amount of column, 200, 300 are "a lot", i mean, it's of out the gaussian distribution.
Anyway, you can check my sample here https://file.io/4WP29a7FLnZr, it's loading 100 rows on 300 columns in 10 seconds consuming 100Mb on my i5 Windows 10 PC.

[2020-11-17 21:33] #50 closed

[2020-11-19 13:03] will-scc opened #51 "Filtering on DateTime column with non-midnight time component doesn't return valid FilterString"
I have a DateTime column with the format `dd/MM/yyyy HH:mm`:

![image](https://user-images.githubusercontent.com/31592644/99666755-4ef8f700-2a63-11eb-9c02-3c88ff563a42.png)

The values in the underlying DataSource are from a database so have non-midnight time componennts, e.g. `25/06/2020 12:22:44`.

This is recognised as a DateTime column:

![image](https://user-images.githubusercontent.com/31592

[2020-11-20 17:06] davidegironi commented on #51
Hello @will-scc. DateTime converstion works if the format of the DateTime is the same of you o.s. culture
ref. line 722 MenuStrip.cs (sb.Append("(Convert([{0}], 'System.String') LIKE '%" + Convert.ToString((IsFilterDateAndTimeEnabled ? dt : dt.Date), CultureInfo.CurrentCulture) + "%')" + appx);)

I think the problem should be there.

Can you run the Sample project first and check if it works there

[2020-11-24 10:51] will-scc commented on #51
Hi @davidegironi, sorry for the delayed reply. I wanted to make sure I tested it on the machine that had the problem.

The sample project does work on the machine, so it's definitely an application-specific problem.

I've forced the formatting of the column to match the culture (`en-GB`):

![image](https://user-images.githubusercontent.com/31592644/100082740-86d7b400-2e40-11eb-9bf2-1d9fbfa63739.pn

[2020-11-24 14:39] will-scc commented on #51
Small bit of additional info. I've setup a brand new project to test this and the issue persists.

The complete code of my test:

[code]

[2020-11-24 17:56] davidegironi commented on #51
I can not reproduce your behaviour.
Start from the Sample project provided in code. Does the "datetime"column work there?
To me it works, I've overriden the culture using App.Config (<add key="culture" value="en-GB" />)

![Capture](https://user-images.githubusercontent.com/1426098/100133175-b6111400-2e86-11eb-814f-29943889d2fd.JPG)

[2020-11-25 10:14] will-scc commented on #51
I think I've narrowed down the problem to something related to loading data from databases (maybe the `DataAdapter`?

I've taken the working sample project and replaced the `SetTestData()` and `AddTestData()` methods to load data from my database with this query:

I tried this with both `Oracle.ManagedDataAccess.Client` and `System.Data.SqlClient` and the result is the same. One looking at an Orac

[2020-11-27 13:48] davidegironi commented on #51
Instead of adding the full datatable, iterate the table adapter and fill a single row, then add the row to the dataset binded to the bindingdatasource of the grid.
You can also take a look of the method I'm using here in the DGUIGHF (https://github.com/davidegironi/dguighf/), like this one here https://github.com/davidegironi/dguighf/blob/master/DGUIGHFSample/FormPosts.cs
Another example on a work

[2020-11-27 13:48] #51 closed

[2020-11-27 15:16] will-scc commented on #51
Do you know why adding a complete DataTable would cause this behaviour? It's very weird that it only happens on DateTime columns in this specific situation, everything else works fine.

Having to change how to load data from my database into datatables by avoiding using `DataAdapter.Fill` is going to add a lot of unnecessary extra code, I'd rather try and fix the underlying bug...

[2020-11-28 17:11] davidegironi commented on #51
I've never investigate on this. I prefer to uncouple the DataAdapter cause it's related to the DB you are using. You should try with other DB sources, or google for something like "DataAdapter.Fill datetime conversion". Also looking at your query, it performs an union between tables, at first i will try with just one table, than makes thing little more complex.

[2020-12-07 18:19] lstoeckert opened #52 "Filtering stops working on second view"
I'm trying to use the Advanced DataGridView in several different forms (viewing different data) within the same project.  When the form is first viewed, the sorting and filtering works great.  If I close that form and then relaunch the same form, the grid is there but the sorting and filtering no longer work (the down arrows don't respond).  Any idea what I'm doing wrong?

[2020-12-07 18:27] davidegironi commented on #52
Hello @lstoeckert , I've no idea, never encounter this behavior before. If you want you can take a look at dentned, there I use Advanced DataGridView in many forms without problems. https://github.com/davidegironi/dentned. Hope this helps.

[2020-12-07 18:27] #52 closed

[2020-12-13 12:48] Emporea commented on #16
Is it possible to sort it without knowing the data columns in the first place? If I understand it correctly i need to have BindingSource and declare all datatypes and columns before using a DataTable.

The Problem is that my DataTable isn't same everytime. I have a simple yet customizable program, where the end user can specifiy a sql connection and the sql query on his own. This makes it impossib

[2020-12-13 16:53] davidegironi commented on #16
Hello @Emporea , it should work. Take a look at the dentned reports run form, there custom query are executed and loaded to a filtered datagrid view. https://github.com/davidegironi/dentned/blob/master/DentneD/Forms/FormReportsrun.cs

[2020-12-13 18:33] lstoeckert commented on #52
Hi Davide,

I’m not sure if I identified the problem or just a way around it.  In my program, I was doing a ‘showdialog’ for each form, each time I needed the form.  I added a ‘dispose’ for the form after showing it and the next time I showed it again, the ADGV worked fine.  So there must have been something left over from the previous showing that was preventing the ADGV to function correctly.

T

[2020-12-14 18:56] davidegironi commented on #52
Heppy to hear this. Thank you for sharing your experience.

[2020-12-22 11:21] DarkNecrom commented on #33
Hello,

I have solved it by checking the DataType in the Show event of MenuStrip.cs and comparing it with the type of the list of values.
`if (DataType == typeof(System.Object)) DataType = vals.First().ValueType;`

This way it detects the field type well when using the GUI.

The problem is caused by using the GUI adding the columns to the DataGrivView without their data types.

[2021-01-25 15:33] RenaudSmith opened #53 "Filter/Sort doesn't work on multiple DataGridViewComboBoxColumn"
Hello,

When I add multiple DataGridViewComboBoxColumn, only the first one (on the left) can be filtered/sorted, the other ones display no values in the filtering and the event SortStringChanged is not firing.

![image](https://user-images.githubusercontent.com/77978209/105723953-a3b76300-5f27-11eb-8b28-7a8e368f68e4.png)

Here's how I add ComboBoxColumns :

[code]

Thanks for your help.

[2021-01-25 18:50] davidegironi commented on #53
Hello @RenaudSmith , please provide a full sample adding two Combobox column at in the AdvancedDataGridViewSample project.
Note: Your should not pragmatically remove the Column from the dataGridView, instead you should set the columns in the DataSource binded object.

[2021-01-26 13:25] RenaudSmith commented on #53
Hello @davidegironi ,

Thanks for your response, here is the AdvancedDataGridViewSample with the problem.

I noticed it happens everytime you add more than one DataGridViewColumn programmatically, here I just add two empty DataGridViewTextBoxColumn (line 186 in FormMain.cs) and you can see the second one you click have the sorting box not working normally.
However if you clone a column from the gr

[2021-01-26 19:07] davidegironi commented on #53
Hello @RenaudSmith , check this out. It may helps you (expires 27 January 2021 at 20:06 (CET)). https://file.re/2021/01/26/advanceddatagridview-master/

[2021-01-26 19:07] #53 closed

[2021-01-27 13:01] RenaudSmith commented on #53
Thank you very much !

[2021-02-10 09:11] kincsespeti opened #54 "Checklist node double click filtering edge-case?"
Hello,

so the checklist nodes have a feature to start a filtering by double clicking them (CheckList_NodeMouseDoubleClick).

This works fine, but if the user already filtered the nodes via the checkTextFilter textbox to the point of only having the "select all nodes" and one other node, then SetCheckListFilter's
[`if (selectAllNode != null && selectAllNode.Checked)`](https://github.com/davidegiro

[2021-02-10 19:22] davidegironi commented on #54
Thank you for sharing this problem and the fix!
In the weekend I'll deploy a new fixed version.

[2021-02-11 18:00] davidegironi commented on #54
Fix published with version 1.1.x.9

[2021-02-11 18:00] #54 closed

[2021-02-12 16:34] sacalvario commented on #33
hi, could you pass that code to c #?

[2021-02-24 17:51] oppman29 opened #55 "Windows Scale and Layout"
Hi, thank you for this amazing advanced data grid view.

Found an issue when the user changes the monitor display settings and changes the scale and layout option
![scale and layout](https://user-images.githubusercontent.com/34219937/109040598-15580d80-769c-11eb-92a7-9efc4d622a9a.png)

The data filter cancel and  filter buttons along with the text get cutoff if they select for example 150% scale .

[2021-02-24 18:09] davidegironi commented on #55
Hello @oppman29 , thank you for posting this issue, and most of all for sharing your fixes. To now I think it could be ok even without the point 1* and 2* fixed. I you want you can send me the mods to apply, or request a pull. If you would like to go for the pull request, please fork this project and let me take a look to the mods before it.

[2021-02-28 22:13] oppman29 commented on #55
I was able to figure out issue 1 with the grip resize by doing some the scaling before it hits ResizeBox  on the constructor.  the issue with the textboxes couldnt figure out.

Here are the files I changed :

MenuStrip.cs
FormCustomFilter.cs

and on the progam.cs just change the HighDPIEnabled to tru

[Changes.zip](https://github.com/davidegironi/advanceddatagridview/files/6058119/Changes.zip)

I

[2021-03-01 21:01] davidegironi commented on #55
No problem for the Pull request. I'm yet importing the mods in the code.
I'll try it in a few days and let you know. Really thank you for your help!

[2021-03-02 18:51] davidegironi commented on #55
You can find the mods updated in the master branch, if is all ok for you in the next days I'll deploy a new version to nuget too.

[2021-03-05 17:59] bfharreguy opened #56 "Slow to paint"
Hello!i have a advancedatagridview with a datasource as BindingSource, and thats is very slow to paint, I try to activate double buffer with the next code:
[code]

But the form lock de app when it is opening, I need to wait 5 seconds
Sorry for my english, i try to fix that
Thanks

[2021-03-06 03:30] oppman29 commented on #55
Yes that sounds amazing.. Thanks for your work and happy to help. I will check out this weekend on how to pull

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Davide Gironi <notifications@github.com>
Sent: Tuesday, March 2, 2021 1:51:55 PM
To: davidegironi/advanceddatagridview <advanceddatagridview@noreply.github.com>
Cc: oppm

[2021-03-06 09:57] davidegironi commented on #56
5 seconds is really too much. How long it takes to open the AdvancedDataGridViewSample sample project? It should take almost 300ms from the start of the debug to the disaply of the form (at least on a i5 Windows 10 PC).

[2021-03-06 09:59] davidegironi commented on #55
So, you check it out from the master branch of this repo? Did it pass your test?

[2021-03-06 16:51] bfharreguy commented on #56
Look this
[code]
![image](https://user-images.githubusercontent.com/74211/110214329-de93ab80-7e82-11eb-9cd9-2ca578364f4f.png)
This is a probe, the just time i need to wait for the do a paint the tablaprivilegios = _tablapermisos is the same control

[2021-03-06 17:40] davidegironi commented on #56
Try using the Sample project, otherwise it may be your Datasource.

[2021-03-06 17:40] #56 closed

[2021-03-12 08:09] davidegironi commented on #55
I've double check it, it seems all ok to me. I'll close this.

[2021-03-12 08:09] #55 closed

[2021-03-13 17:29] oppman29 commented on #55
Thank you very much for the changes I downloaded the masted branch and all looks good.  Lenin

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Davide Gironi ***@***.***>
Sent: Friday, March 12, 2021 3:10:03 AM
To: davidegironi/advanceddatagridview ***@***.***>
Cc: oppman29 ***@***.***>; Mention ***@***.***>
Subject: Re: [david

[2021-03-13 17:50] davidegironi commented on #55
That's great!
It also contains this pull request, fixed: https://github.com/davidegironi/advanceddatagridview/pull/57

[2021-03-15 18:44] davidegironi commented on #55
Updated to nuget

[2021-03-16 04:10] oppman29 opened #58 "Search Locking at 10K records"
Hi David,

Unfortunately found an issues not as easy as the scaling to fix.. I would love to give back again!
 But so far everything I've tried hasn't worked.

Here is the issue if you load up 10,000 or more rows in a columns  where they are vary similar.
For example   all begin with  1012XXXX  and say 1013XXXX

After the they are displayed  when the user goes to search and wants to type a number

[2021-03-17 19:11] davidegironi commented on #58
Hello @oppman29 , that's about performance. I've already get a question on that. Maybe in the weekend I can take a view on it. I'll get you back.

[2021-03-17 22:34] oppman29 commented on #58
Thanks David, what I did in the mean time and work but it's not elegant at alll... On method buildnodes after you add the empty node, I create a new list with the distinct values from vals and if the count > 1000 I clear all the nodes and just create a node that says please use custom filter and disable checkTextfilter and checkFilterListControlHost and button_filter....
__________________________

[2021-03-21 14:52] davidegironi commented on #58
Hello @oppman29,
Check this out: https://filebin.net/791cp6y1chcdikwe
MenuStrip.cs is changed, you can find the changes on top. I have to expose the changes to parent components, comment it out and make a little bit of order, but now, just for a check, you can set _limitCheckListNodes. Let me know if it's good for you.

[2021-03-22 17:34] oppman29 commented on #58
Thanks for the update David.
I noticed the following behaviors.

1-Create a column that just contains numbers 0-10000 ...when the filter pops up unselect 3 values( I did 0,1,2) ... The count will be 998... So far so good...

Now go back to the same column and unselect a few more values ( 3, 4) .. Now the count is completely off with 94 rows only.

Looking at the filter string the first time  has a

[2021-03-26 15:40] davidegironi commented on #58
Hello @oppman29 ,
I know the behaviour of point 2. I'm trying to solve this, but it's a big change in the main logic of the MenuStrip. I suppose I've to refactor the full logic, cause it's all based on nodes of CheckList now. Unluckily I've not enought time now to rebuild this.
I post here the latest MenuStrip.cs I've write that has a few bug expecially when rebuilding the filter. As soon as I've

[2021-03-26 15:40] #58 closed

[2021-03-30 11:18] miguelmpn opened #59 "Locked header column menustrips"
If I programmatically set a filter on my tables

`dgRegisters.LoadFilterAndSort("([IsVisible] = True)", "");`

The datagrid header menus become locked. How can I programmatically filter with the same behavior of when filtering in the UI which does not block the column filters?

The idea is that I set a filter for the IsVisible column so that the table only shows the visible Rows, then I hide the c

[2021-03-30 13:44] kirsan31 opened #60 "Allow DataTable/DataView as DataSource with automatic sorting and filtering"
Hi. I was trying to set `DataTable` or `DataView` directly as `DataSource`. And this lead to filtering and sorting are stop working automatically.
What do you think about adding `DataTable` and `DataView`  to _supported_ DataSources (even default `DataGridView` are support them)?
Something like this:
[TriggerFilterStringChanged](https://github.com/davidegironi/advanceddatagridview/blob/6d85632f11a

[2021-03-30 17:29] #60 closed

[2021-03-30 17:36] davidegironi commented on #59
Hello @miguelmpn, this is because the library does not save the full state of the columns filter and sorting. Restoring the state from the FilterString and SortString is a mess, the way to solve this is change the way MenuStrip works, saving the full columns state.
That will be a good thing to build.
I'm thinking about rewriting the MenuStrip logic due to this issue on performance (https://github.

[2021-03-30 17:36] #59 closed

[2021-03-30 18:03] davidegironi commented on #60
Now I get this.
You mean something like this? for TriggerFilterStringChanged:

[code]

[2021-03-30 18:11] kirsan31 commented on #60
Exactly. All my code from 1 post must replace code in this condition:
[code]
Sorry for misleading.

[2021-03-31 08:53] kirsan31 commented on #49
@davidegironi if your still interested, I made it [here](https://github.com/kirsan31/advanceddatagridview/tree/156b0ba5218de0aeccfe7e796606616938d34904). And it's working.

What done:
- SDK projects format.
- Multitargeting with `net5.0-windows` and `net40`.

What was not checked:
- `_DevTools` dir.
- NuGet stuff.

[2021-03-31 16:15] miguelmpn commented on #59
No problem, I implemented this in the same way as you did in the sample. Good that you had it 👍
Just using the TriggerFilterStringChanged(); and editing the filter in the event.

[2021-04-04 16:43] davidegironi commented on #49
I'm working on the net5 version. I think I will make a new branch. NET5 works, but I want to write the compiling script for dll and nuget package. I'm almost done with both, I think next week I'll have time to work on this.

[2021-04-07 16:31] AmeerMansour opened #61 "Filtering is not working"
when using data source from object, Filters are not working at all .
![image](https://user-images.githubusercontent.com/47938924/113901675-6137bf80-97cf-11eb-9745-4c29a21c2a32.png)

[2021-04-07 17:08] davidegironi commented on #61
Hello, look at the FAQ.
This is the link you are interested in https://github.com/davidegironi/advanceddatagridview/issues/24

[2021-04-07 17:08] #61 closed

[2021-04-07 17:40] davidegironi commented on #49
Hello, check this out: https://www.file.io/download/lRRkuJowXmFN
Target net40 and net5.0-windows.
Updated the AutoBuild script and the NuGet builder, now both works (find AutoBuild updated version here: http://davidegironi.blogspot.com/2014/04/autobuild-is-build-automation-tool-for.html)
I've done my porting from nonSDK to SDK project, cause in your one there are a few things changed in the sln fi

[2021-04-08 14:05] AmeerMansour commented on #61
this issue #24 uses deprecated dll for filtering list. will it better to use BindingListView ? will it work?
https://github.com/waynebloss/BindingListView
if yes , can it be handled within your lib ?

[2021-04-08 16:31] davidegironi commented on #61
Thank you @AmeerMansour for this tip.
I prefer not to add library or dependency to this project. I think you can make this thing work using the TriggerSortStringChanged and TriggerFilterStringChanged handlers.
In you succed please share your solution in a new issue, I will add a FAQ like I've done with the #24 issue.

[2021-04-11 08:18] kirsan31 commented on #49
Hi @davidegironi. Sorry I have very hard time at work for now. I will back as soon as I can.

[2021-04-14 18:11] davidegironi commented on #58
Hello @oppman29
Take a look here, logic is rewritten. I need your help to check ALL the filtering and sorting capabilities before publishing.
Note: this is a pre/publish version that already contains the SDK (net5.0 and net40 multitarget) mod https://github.com/davidegironi/advanceddatagridview/issues/49

Download here: https://file.io/tN7wEwMRZ2Gc

[2021-04-14 18:17] davidegironi commented on #49
As a side note, if you want to check also the menustrip mod, you can find it here: https://github.com/davidegironi/advanceddatagridview/issues/58#issuecomment-819727960

This update contains the rewrite of the checklist filter logic, it's quite important. So It's better to check it a lot before publishing.

[2021-04-15 14:38] Shirazbello commented on #24
Dear @OceanAirdrop
Following through with the solution provided, I am unable to Filter Strings having parenthesis in them.
Strings like  **Hello** without a parenthesis filter without any issue. But a string like **Hello(sir)** does show an empty grid. It is unable to filter. To solve the issue I removed
// get rid of all the parenthesis
    **filter = filter.Replace("(", "").Replace(")", "");**
f

[2021-04-19 15:30] kirsan31 commented on #49
@davidegironi

Hi, I looked at the code, and use .net5 version for some time and all seems ok (in terms of porting to .net5).

File is not available any more.

P.s. While testing, I found some not serious memory problems in demo app and in lib too. But fixes are trivial. More serious problem is memory leak in ColumnHeaderCell :(
In [OnColumnAdded](https://github.com/davidegironi/advanceddatagridvi

[2021-04-19 20:01] davidegironi commented on #49
Thank you @kirsan31 .

You can find the file here: https://file.re/2021/04/19/advanceddatagridview/

About the Memory Leak, I've built after this issue https://github.com/davidegironi/advanceddatagridview/issues/41 the "Memory  Test" button.
I've checked it with net40, no problem at all. The behaviour under net5.0 indeed is different. This is a bit wired.
I thought
https://github.com/davidegironi/

[2021-04-23 15:44] kirsan31 commented on #49
@davidegironi Sorry, I haven't checked [this](https://file.re/2021/04/19/advanceddatagridview/) yet :( Still have very little free time.
Demo app is leaking itself, net40 after 1 memory test:
![image](https://user-images.githubusercontent.com/17767561/115892853-3ea8d600-a460-11eb-978f-e43d4d78f6d1.png)
I have fixed it [here](https://github.com/kirsan31/advanceddatagridview/commit/c19dcb2336755c2e7

[2021-05-05 19:08] TinaRadenkovic opened #62 "Changing the text in search bar"
Hi,

I am using AdvancedDataGridView Nuget package and I have a small issue with language translations in search bar. Is there any way to change the text shown on label, combobox and tooltips in search bar? I would like to translate it in Serbian. In the picture below I would like to change text: Search, (All Columns) and Value for Search and also text for all tooltips.
I tried to change text on t

[2021-05-05 20:57] davidegironi commented on #62
Hello,
Translation values are "ADGVSTBLabelSearch" and "ADGVSTBComboBoxColumnsAll" fields of the json translation file. To check it simply download the git files. In AdvancedDataGridViewSample project FormMain code set _testtranslationsFromFile to true, change values in the lang.json file and run the sample project. You should view the menu translated. You can use the AdvancedDataGridViewSample pr

[2021-05-05 20:57] #62 closed

[2021-05-07 07:20] davidegironi commented on #49
Hello @kirsan31
Thank you for your job,
I wasn't that much interested in the sample project FormMain investingation, but as you pointed out it turns out it has big memory leak.
In a few days I'll publish an update containing

- net40 and net5.0 update
- SDK solution format
- leak fixed
- MenuStrip new logic, with max checklist nodes enabler

It will be a major number update.
Up to my test all work

[2021-05-07 12:44] davidegironi commented on #58
Hello @oppman29
Just to inform you that I'm going to release in a few days a new version with the fix above, and the memory leak cured find it here: https://github.com/davidegironi/advanceddatagridview/issues/49#issuecomment-834129750, let me know if you find problems)

[2021-05-08 15:21] helperman opened #63 "Grouping items in DataGridView"
Didn't you think about adding a feature to group items in a datagrid?
Here is a good project (15 years old, though, but is still working):
https://www.codeproject.com/Articles/14388/OutlookGrid-grouping-and-arranging-items-in-Outloo

It could be the best control ever, with all-in-one functionality (sorting, filtering, grouping).

[2021-05-09 07:53] davidegironi commented on #63
Hello @helperman
Although this is an interesting feature, It's not in the todo list, at list in the next future. But if you integrate this, I can pull you git request.

[2021-05-09 07:53] #63 closed

[2021-05-15 13:51] manukieli opened #64 "Update datatable source -> filtered datagridview not updated"
If the advanceddatagridview has not filter active and I update data of some rows, I can view the updated data to advanceddatagridview.
But when I filter some column and updated rows of the filtered row, advanceddatagridview is not updated.

[2021-05-15 15:20] davidegironi commented on #64
Hello @manukieli , can you please provide a sample starting from the AdvancedDataGridViewSample project?

[2021-05-15 19:50] manukieli commented on #64
Thank you @davidegironi for your answer, I've check the code of AdvancedDataGridViewSample and I've noticed that is was my mistake.
After update my code, now it work like a charm.
Thank you.

[2021-05-15 19:50] #64 closed

[2021-05-16 08:23] davidegironi commented on #64
Happy to hear that. Good work.

[2021-05-16 11:59] peros550 opened #65 "Dynamic Filtering does not update when pressing backspace"
@davidegironi congrats for your work. I am having an issue in following step:
![AdvancedDataGridview](https://user-images.githubusercontent.com/12878906/118396207-1c693900-b657-11eb-8b51-c89f4dafe1ca.png)

When I enter characters in the red box as shown above, the list updates itself which works as expected. However, when I press backspace to delete characters, the lists no longer updates. Is that

[2021-05-17 09:27] peros550 commented on #65
I am sorry. It looks this issue has already been solved in the latest dev version but not in the latest stable version.
Before I close this issue I would like to make a question. When I run my app using Visual Studio debug mode, loading of the advanced datagridview takes a very long time to finish (maybe more than 30s).

Running the same exe (compiled in debug mode) outside of VS, loads the datagr

[2021-05-19 18:28] davidegironi commented on #65
Thank you @peros550
It's a bug in the new logic of MenuStrip.cs
Can you please check this version out? I think is fixed here: https://www.file.io/download/Plhu01ltumfV

[2021-05-20 12:02] peros550 commented on #65
@davidegironi many thanks! I may have actually tried an even older version that's why I thought it works. I'll try the one pointed out in the above link and get back to you. Any idea about the delay in loading the data when in debug mode?

[2021-05-20 16:43] davidegironi commented on #65
Thank you for the test, i forgot about the delay.
It may due to the windows defender, check that the folder you are working on is not tested by defender. It happens to me when I'm working on the "Downloads" folder. It also may depends on "IntelliTrace", you should try disabling it from Options menu in Visual Studio.

[2021-05-24 02:00] rockbr opened #66 "Localization "pt-BR""
I did the translation to Portuguese Brazil "pt-BR"
[Localization-pt-BR.zip](https://github.com/davidegironi/advanceddatagridview/files/6529371/Localization-pt-BR.zip)

Thank you for sharing the project.

[2021-05-24 04:54] rockbr commented on #66
Did not notice had sent the translation of another version.

[lang.zip](https://github.com/davidegironi/advanceddatagridview/files/6529883/lang.zip)

[2021-05-24 05:58] davidegironi commented on #66
Thank you!, I'll add in the next version

[2021-05-31 06:07] davidegironi commented on #65
Hello @peros550 , have you check it out?

[2021-06-01 04:28] peros550 commented on #65
@davidegironi I just tried to download the file but it's not available. Could you please re-upload?

[2021-06-01 04:33] davidegironi commented on #65
Hello @peros550 , this is the new file: https://file.io/9Zr5wT7lA3c4

[2021-06-06 16:43] davidegironi commented on #65
Hello @peros550 , did you success in the file download?

[2021-06-07 06:17] peros550 commented on #65
Yes, I downloaded the project. I had some issues opening it. It looks I need a copy of VS 2017, but I'm working on 2015. Nevertheless, I copied the AdvancedDataGridView.dll from the Release folder and compiled my program to test. The issue seems to remain and when typing the program becomes sluggish.

[2021-06-07 16:26] davidegironi commented on #65
Hello, the dll on the release folder is not updated. Try the dll in the Debug folder in this zip here: https://file.io/YiElQ7ocOYQ4
I'll wait for your feedback.

[2021-06-07 16:33] peros550 commented on #65
Thanks for the quick feedback. This one works as expected! Will you upload it through nuget package manager?

[2021-06-07 16:35] #65 closed

[2021-06-07 16:45] davidegironi commented on #66
Added in the sample project.

[2021-06-07 16:45] #66 closed

[2021-06-07 16:52] davidegironi commented on #65
Thank you for your feedback. This packages is now updated on nuget, maybe it will take a little for the propagation.

[2021-06-08 06:19] peros550 commented on #65
many many thanks!

[2021-06-17 17:02] BlackAlpha974 opened #67 "Localization "fr-FR""
I'm planning to do the french translation of your project. I created a "lang-FR.json" but how can I load it on my C# project ?

[2021-06-19 07:18] davidegironi commented on #67
Hello @BlackAlpha974 , just post it here as "code" I'll sphip it with a new version of this module.
Thank you for your help!

[2021-06-22 15:47] will-scc opened #68 "Filtering DateTime column causes StackOverflow Exception"
The following is an example which can cause a StackOverflow Exception:

[code]

Simply attempting to uncheck a node will throw a `StackOverflow` exception. The overflow is occuring in the method `Zuby.ADGV.MenuStrip.SetNodesCheckState(Zuby.ADGV.TreeNodeItemSelector[], Boolean)`.

[2021-06-22 17:09] #67 closed

[2021-06-23 07:25] davidegironi commented on #68
Thank you @will-scc for this feedback. Think I've got where is the problem. Let me check it in the next days.

[2021-06-25 15:07] davidegironi commented on #68
Please check the update in code linked should fix it, and also contain the fix proposed by @kirsan31  here:
https://file.re/2021/06/25/advanceddatagridview/ It will be automatically deleted in 24 hours, on 26 June 2021 at 17:06 (CET)

Below the code fix for this issue on MenuStrip.cs
[code]

[2021-06-25 15:08] davidegironi commented on #60
Hello, I'm posting your code update in the next deploy, if you want a preview download it from here: https://github.com/davidegironi/advanceddatagridview/issues/68#issuecomment-868566190

[2021-06-29 17:21] davidegironi commented on #68
Hello.
Have you check this out?

[2021-06-30 19:43] will-scc commented on #68
Hi Davide, sorry for the delay - I've been away.

With the above changes in `MenuStrip.cs` I am still getting a StackOverflow exception, but in `TreeNodeItemSelector` now, on the `CheckState` property now (I'm on a different PC with VS2019 rather than VS2017, so might be the same issue but with improved exception handling in VS2019):

[code]

Based on my debugging the problem is that in `MenuStrip

[2021-07-01 04:57] davidegironi commented on #68
Thank you @will-scc for your check. It's not just the changed I've posted above in text format. Check the mod from the file download. You can find it here (the previous download was expired) https://www.file.io/download/PwereNkXmVbg

[2021-07-01 22:02] will-scc commented on #68
Ah, I misunderstood.

The solution you linked looks good; all seems to be fixed regarding the Stack Overflow Exception. For the avoidance of doubt, I haven't tested anything else apart from confirming it no longer loops indefinitely when unchecking nodes and the filtering works for `DateTime` columns.

Thanks for your work on this Davide.

[2021-07-02 07:22] davidegironi commented on #68
Thank you!
That would be enough. I've tested other things and all seems to work. Unluckily I've not developed this project in a TDD way.
I've release this update in nuget too.

[2021-07-02 07:22] #68 closed

[2021-07-05 05:30] nikjain75 opened #69 "Enable/Disable Filter and Sort in Run time"
Hello, I want to Enable/Disable Filter and Sort in Run time.
I tried using this command, but it is not working as desired.
_adgv1.FilterAndSortEnabled = True or
adgv1.FilterAndSortEnabled = False_

This works well from the IDE (Property list).
Anything i am doing wrong ? or is there any other way to do that. Please suggest.

[2021-07-05 17:47] davidegironi commented on #69
Hello @nikjain75
Use the SetSortEnabled and SetFilterEnabled methods.
Look at FormMain_Load method of Sample project.

[2021-07-05 17:47] #69 closed

[2021-07-06 16:48] nikjain75 commented on #69
Thank you for the superfast reply.
Actually I was looking to completely disable the filter including the Filter/Sort icons on the column header.
This is possible when I set the .FilterAndSortEnabled = False in IDE.

The methods you suggested only disables the filter, but the Filter/Sort icon is still visible and clickable in column header.

I am not getting why in code adgv1.FilterAndSortEnabled =

[2021-07-07 07:43] davidegironi commented on #69
Hello @nikjain75 ,

this is the behaviour of DisableFilterAndSort and EnableFilterAndSort methods. Try those two.
If can use FilterAndSortEnabled before attaching the dataset to the datagrid.

[2021-07-09 03:52] nikjain75 commented on #69
Thank you so much :)

[2021-07-12 17:51] davidegironi commented on #69
You are welcome ;)

[2021-07-16 10:41] 0lliS opened #70 "SpeedUp "CheckTextFilter_TextChanged""
Hi,

I have more than 20.000 different entries in one Column. "CheckTextFilter_TextChanged" runs each time you press a key. The procedure is working very slowly because of the huge amount of entries.

I took a look at the source code and realized that you are using three loops. Might it be possible to replace them by a single linq-search that always uses the full list? This full list could be crea

[2021-07-16 10:45] 0lliS commented on #70
This might also fix the problem in #65

[2021-07-18 12:45] SaryZainoun opened #71 "How to use Advanced DataGridView Search Tool Bar???"
Please tell me how to link the Advanced Search Bar to the Advanced DataGridView, I couldn't find a way to link them.

[2021-07-18 13:37] davidegironi commented on #71
Hello, you can find an example in the Sample project.

[2021-07-18 13:37] #71 closed

[2021-07-18 13:39] SaryZainoun commented on #71
Never mind, I have figured it out using your provided sample.

Thank you very much. This is an awesome project.

[2021-07-18 14:02] davidegironi commented on #71
That's great!

[2021-07-18 14:08] davidegironi commented on #70
Hello,
I think you are looking at old code version, the newer one "only" perform two loops (https://github.com/davidegironi/advanceddatagridview/blob/d0b3cc259dd7d288a89f65a1a11d7e05c202d220/AdvancedDataGridView/MenuStrip.cs#L1631)

Anyway, even the newer one could be optimized of course, but I don't have the time right now to do this. If I take a quick look I can say it will take a bit of effort

[2021-07-18 14:08] #70 closed

[2021-08-05 15:11] Ciberth opened #72 "Support CSV file as datasource"
Hi! Thanks for creating the advanced datagridview with builtin filter. I'm not an expert in C# or winforms but the latter and your advanceddatagridview feel like the perfect fit before reinventing the wheel.

## CSV as datasource breaks filtering functionality

The situation is as follows: I would like to visualise the contents of a CSV-file in an application. It is important that the user can fil

[2021-08-09 12:58] davidegironi commented on #72
Hello @Ciberth
First of all thanks for the translation, I've added in the the main project here on git.
About the CSV reader you want to build, you can not "fully" automate the CSV view cause CSV columns does not contain any information about the column datatype. There are something you can do, like "try" to convert to the first row to Datetime, and if happens threat it as a DataTime, "try" to oep

[2021-08-09 12:58] #72 closed

[2021-08-12 18:19] marceloleandro111 commented on #16
I want to use filters and sorts in another language? how can i get it? i updated the new version but in execution time we don't have the option... can i set it in code behind or another configuration?

[2021-08-13 05:35] davidegironi commented on #16
Hello @marceloleandro111 , take a look at the sample project. You can "inject" the laguage using the SetTranslations method. Like here: https://github.com/davidegironi/advanceddatagridview/blob/0397ee6dcedf97fa68406b31dfa278f5c1f3311a/AdvancedDataGridViewSample/FormMain.cs#L69

[2021-08-13 11:06] marceloleandro111 commented on #16
Yeaa! that's it. I found this before....thank you!

[2021-10-19 18:18] rafaelandrade74 opened #73 "Filter DateTime not working"
im filtering a column format datetime but not working

[2021-10-19 18:28] #73 closed

[2021-10-19 18:29] rafaelandrade74 commented on #73
Column in bd is string -_-

[2021-11-10 13:52] acentrella13 opened #74 "Calling .CleanFilterAndSort causes stackoverflow exception"
Hello,

I'm using the ADGV and if I have a user manually set a sort on a column, then aftwerward programmatically call .CleanFilterAndSort, a stackoverflow exception is generated.

See below stack..   thank you

System.StackOverflowException
  HResult=0x800703E9
  Message=Exception of type 'System.StackOverflowException' was thrown.

<HTML>
<head>
<title>Document</title></head>
<body>

  | Name |

[2021-11-10 15:42] davidegironi commented on #74
Hello, I can't reproduce this error. It seems CleanFilterAndSort works on my tests.
Try using the sample project AdvancedDataGridViewSample, sort a column, then click on the "Clean Filter And Sort" button, it will call pragmatically the CleanFilterAndSort method. To me it works, both in net40 and net5.0. Let me know.

[2021-11-10 16:08] acentrella13 commented on #74
Thank you for looking in to this... did you have a user manually set a sort on a column first before calling the method?

[2021-11-10 16:09] acentrella13 commented on #74
![Capture](https://user-images.githubusercontent.com/59454754/141149520-5cf58da3-943e-483f-925b-bdcae4ad247b.PNG)

[2021-11-10 16:34] davidegironi commented on #74
You're welcome.
A simple test could be:
1. Open the sample project
2. Click on a column header to sort it
3. Click the "Clean Filter And Sort" button
To run this test you have to download the code of this project.
You should also check that the SortStringChanged and FilterStringChanged event is not the cause of this problem.
Let me know.

[2021-11-10 16:34] #74 closed

[2021-11-10 17:13] acentrella13 commented on #74
Yes those two events are not being called or causing any kind of loopback... I understand the sample project works but as you can see in the attached photo above it triggers this exception.  My project is large, yet when the grid crashes it only has a few rows.  I can not currently explain the difference between the sample project and mine for they are calling the same method.

[2021-11-10 17:21] acentrella13 commented on #74
It might have something to do with the underlying bound dataview (dvOrders)... if I unbind prior, then clear it, then rebind this error does not occur...   as such:
                dgOrders.DataSource = null;
                dgOrders.CleanFilterAndSort();
                dgOrders.DataSource = dvOrders;

Since the dataview has filtering of its own, i wonder if that is causing an issue...there is fi

[2021-11-11 11:24] davidegironi commented on #74
The CleanFilterAndSort method you use is the correct one to filter data. There's could be something related to the DataSource binded, as long as I'm not able to look at your code, I can't help you more.
One think could be "disable" the Filter/Sort-StringChanged event. If you haven't override those, you might do this (sample project contains an ovveride sample), there you can place a "stop" variabl

[2021-11-11 12:57] acentrella13 commented on #74
Yes i trapped those changed events and they aren't fired when the CleanFilterAndSort method is called.  For now, un/rebinding seems to do the trick and the delay is slight.  It is comforting to know you are using AVDG with that size.  Thank you for your help.

[2021-11-11 18:03] davidegironi commented on #74
You are welcome.
As a side note: if you want you can take a look at this project here: https://github.com/davidegironi/dentned where I use this component on top of an helper framework. There too, no problem ordering or filtering, as far as i know.

[2021-11-15 16:12] acentrella13 commented on #74
Will check it out thanks

[2021-12-08 20:22] SFAKHAN opened #75 "Filter Box showing Rich text Format value from the SQL Server Database Table Column"
Hello,
I am saving a column in the Table as Rich Text Format value:
{\rtf1\fbidis\ansi\ansicpg1252\deff0\deflang4105{\fonttbl{\f0\froman\fprq2\fcharset0 Times New Roman;}{\f1\fnil\fcharset0 Microsoft Sans Serif;}}
\viewkind4\uc1\pard\ltrpar\f0\fs21 TEST TEST moved\f1\fs20\par
}

Now when I use ADGV to display data to the user, I am able to choose a "DataGridViewRichTextColumn" Column type to displ

[2021-12-09 08:38] davidegironi commented on #75
Hello, Rich Text is not a supported format.
Anyway can you share a sample project?
An approach could be to override the ToString() method of your the data type of the column.

[2021-12-09 15:02] SFAKHAN commented on #75
I have created a very basic project with only one ADGV containing only one RTF type column. There are two other class files that enables the RFT enabled ADGV column. The code of the form in:

using Microsoft.Office.Interop.Word;
using MigraDoc.DocumentObjectModel;
using MigraDoc.Rendering;
using PdfSharp.Drawing;
using PdfSharp.Drawing.Layout;
using PdfSharp.Pdf;
using System;
using System.Collect

[2021-12-09 15:06] SFAKHAN commented on #75
I am using the two class files:
DataGridViewRichTextBoxColumn.cs and
RichTextBoxPrinter.cs

to make the adgv to have RTF enabled column types.

The gird displayes the data absolutely alright, but when I am trying to filter the data, I am unable to because the filter/Sort box is showing RTF data as opposed to text data.

I am wondering if there is a way to manipulate/write a class to control what t

[2021-12-09 17:51] davidegironi commented on #75
You may try to override the ToString() method of your DataGridViewRichTextBoxCell class.
This is where the list for other than know typed nodes is populated: https://github.com/davidegironi/advanceddatagridview/blob/f81f0e10a4ab3285a82c41c1a30a61242ec367df/AdvancedDataGridView/MenuStrip.cs#L1099
If it does not work you have to download the ADGV source code and edit the code adding your class type,

[2021-12-09 17:51] #75 closed

[2021-12-09 17:55] SFAKHAN commented on #75
Where and how can I download the code for ADGV?

[2021-12-09 19:45] SFAKHAN commented on #75
I am not sure what you mean by the "ToString() method of your DataGridViewRichTextBoxCell class". I am a new programmer and if you could explain a bit that would help greatly.  Thank you in advance.

[2021-12-10 18:50] davidegironi commented on #75
You can download the code from here, from github. You can "git clone" this repository, or Download using the web button.
You can override the ToString method adding the following string
`public override string ToString () {
String s = "Get yor string from class, remove all the RichTextBox fancy"; // your code here
return s; }`
Take a look here for the override meaning: https://docs.microsoft.com/e

[2022-01-01 18:57] ShammyLevva opened #77 "Custom Filter textbox interferes with dropdown"
![image](https://user-images.githubusercontent.com/29687786/147857999-26668ffe-236e-496f-b7b7-1aa91c57fcdb.png)

Thanks for the great control. As you can make out on the screenshot the textbox is interfering with the dropdown control. This may be something to do with DPI scaling, or it may just need the text control forced to anchor to the dropdown rather than anchor to the window.

[2022-01-02 03:17] ShammyLevva commented on #77
Whilst I've raised an issue a question - is it possible to set a setting to disable the custom filter option?

[2022-01-02 13:32] davidegironi commented on #77
Hello @ShammyLevva,
thank you for your feedback.
You can use **DisableFilterCustom** method to disable the custom filter.
It can also be due to the **Scale and Layout** settings of windows.
Unluckily I'm not able to reproduce this error cause I'ven't got an high resolution monitor, so I can check and fix it. If you find a fix please share this. The lines that shows this control are here https://gi

[2022-01-02 15:10] ShammyLevva commented on #77
Thanks I will have a play around whilst I'm on holiday at start of New Year. It may just be a call to the windows system to set DPI awareness is what is needed so the control is responsive to users display settings.

[2022-01-03 17:57] davidegironi commented on #77
Let's keep me updated. Thank you.

[2022-01-03 17:57] #77 closed

[2022-02-02 11:14] will-scc opened #78 "FilterStringChanged and SortStringChanged events are fired before filtering/sorting applied"
In both `TriggerSortStringChanged()` and `TriggerFilterStringChanged()` the associated `StringChanged` events are fired before the filters have been applied to the datasource. This means that if you are subscribed to the those events, the view of the current filter state is always for the previous state.

An easy example of this is to check the `DataGridView.Rows.Count` property in the `FilterStri

[2022-02-03 08:17] davidegironi commented on #78
Thank you for the suggestion.
Doing this mod will prevent the FilterString and SortString overload by external methods, things like the 'Filter column "string":' textbox in the sample project will stop working, without any furter modification the code that use this library I mean (the sample project or any other project using this library in this way).
I have to leave like so for backward compatib

[2022-02-03 09:22] will-scc commented on #78
Hi Davide,

Your suggestion sounds like a good idea.

[2022-02-03 13:45] peros550 opened #79 "Question: Is there any way to have a custom filter applied programmatically rather than the UI?"
Thanks for this nice library.

I would like to add custom filtering in addition to what the user may have selected through the UI.

Is this possible?

[2022-02-03 16:42] davidegironi commented on #79
Hello,
It's not possible, but you could set the Filter and Sort string like it's done in the Sample project (look at the  'Filter column "string":'). You can also Save and Restore filters.

[2022-02-03 16:42] #79 closed

[2022-02-03 16:42] davidegironi commented on #78
I'll do this in the next days and let you know here.

[2022-02-03 17:56] peros550 commented on #79
I need to ask something more.  I used the LoadFilterAndSort(string filter, string sorting) to apply some custom filtering in addition to any existing filter applied so far and it worked. However, the datagridview object identified the manual filtering and deactivated all filtering UI. That makes sense, as it wouldn't be able to properly show to the user what filter is being applied.

Then, I calle

[2022-02-03 18:35] davidegironi commented on #79
This should not happen. I cannot replicate your problem. Download the code from this repository. Run the AdvancedDataGridViewSample project. Do some filtering. Click on Save Current Filter And Sort button, then Clean Filter And Sort. Now recall the filter and sort saved using Filter saved, Sort saved, and Apply button. This should apply the filter, you should filtering blocked as you mention. But

[2022-02-03 19:51] peros550 commented on #79
The app works, I will check your code and compare it with what I do in my code. Thanks a lot for your help so far.

[2022-02-03 20:01] peros550 commented on #79
I found the difference in your code with mine. You used CleanFilterAndSort() while I used CleanFilter()
The CleanFilterAndSort reactivates the UI. The CleanFilter does not. For me it's fine. Again many thanks!

[2022-02-04 00:58] dyeigo007 commented on #24
buena noche a alguien le sucede que inicia el programa y este se reinicia solo, me esta sucediendo cuando utilizo este componente la primera vez reinicia el programa.

[2022-02-08 18:16] davidegironi commented on #78
Done. Take a look at this, let me know if it works to you:
https://file.io/lXr0Fiwz4e0n
Added public SortStringChangedInvokeBeforeDatasourceUpdate anb FilterStringChangedInvokeBeforeDatasourceUpdate
I've used setter and getter to private variables just for consistency with the already written code.

[2022-02-09 11:47] will-scc commented on #78
Looks good to me! Thanks for your work on this project.

[2022-02-09 17:20] #78 closed

[2022-02-17 16:55] DarkNecrom commented on #33
Try this
![MenuStrip](https://user-images.githubusercontent.com/75834314/154531256-6cc10698-0bf1-42f8-aeb9-6476d639aee5.JPG)
s

[2022-02-17 17:27] AJMena commented on #33
I suppose then I must compile AdvancedDataGridView myself and use the new .dll.
I'm having some problems opening the code, but I'll try to fix it and compile.
Can't this be added to the next release?

[2022-03-16 11:31] AJMena commented on #33
Sorry for the late respond.

DarkNecrom's code fixed it but without the if. Like this:

            try
            {
                DataType = vals.First().ValueType;
            }
            catch
            {
                DataType = typeof(System.String);
            }

The solution only fixed the filters. The sorts are still wrong. They appeared like string type. Is there any way to fix

[2022-03-30 10:05] will-scc opened #81 "StackOverflowException when filtering many DateTime nodes"
When filtering a DateTime column with many nodes, the following line 917 in `AdvancedDataGridView.cs` will throw a StackOverflowException:

`bindingsource.Filter = filterEventArgs.FilterString;`

To reproduce:

* Update `DisplayItemsCounter` in the sample project to 10000
* Run the sample and attempt to filter `datetime` column by selecting half the top level nodes, e.g.:
![image](https://user-ima

[2022-03-30 10:34] will-scc commented on #81
You can see how I implemented this here: https://github.com/will-scc/advanceddatagridview/commit/73543661b0c71982245e8e8f6cb7e73b8e1abd6f

[2022-03-30 17:14] davidegironi commented on #81
Thank you, I'm pretty busy this period, as soon as I have some time I'll give this an apply this to main branch and nuget package.

[2022-03-31 14:08] will-scc commented on #81
I've got some of my users testing this change and it seems OK (at least for the way we use it). I'll continue to work on the TimeSpan filter string too and then create a pull request for you to review.

[2022-04-02 10:12] vohaha7 commented on #24
I don't understand how can it be, that such a popular control, such a popular common problem solution, so bad documented is.
Ok, after some hours of search, have found a solution that perfectly works for me.
1) One need a DataTable and a underling DataView, coz this class implements IBindingListView which is needed for a filtering/sorting to work. One more time. **If your source-class, from which

[2022-04-03 09:46] davidegironi commented on #81
Merged. Thank you for your effort.
I've just reverted back to some lines for consistency with write style of this project.
https://github.com/davidegironi/advanceddatagridview/commit/a5fc7d1a828b13818ea8615c364af40ee0bf9b03

[2022-04-03 09:46] #81 closed

[2022-04-07 00:43] morgp commented on #16
Is it possible to filter data from a button, ie set programmed filtering?  If so how?

[2022-04-17 19:50] Vincenzoferrara opened #83 "sort int and string"
hi, I have a column called (articles), it can be both numbers and text.

when I do sorting from a to z the numbers are filtered like this
"1, 100, 1000, 2, 200, 2000, 3, 300, 3000, etc.
is it possible to order them correctly?

in the mysql database i set the column as string

[2022-04-18 09:23] davidegironi commented on #83
Hello, that's because they are ordered like strings. The only way is to grab the code of ADGV and add a custom type and a custom way of ordering, but that will be pretty annoing. Another way could be padleft zero on numbers (1 is 00001, 2 is 00002..., 1000 is 01000... and so on), that way they will be ordered.

[2022-04-18 09:23] #83 closed

[2022-04-27 02:42] vccrespo commented on #66
please how do i apply this translation in my project?

[2022-04-27 16:26] Xounay1 opened #84 "DateTime Filtering"
Hello,

When I'm trying to filter date or datetime columns, the filter form is displaying nodes like string.

Can you help me please ?

[2022-04-27 17:11] davidegironi commented on #84
Hello, you need to have a BindingSource with a DataSource with DateTime type column in order to use the Date kind filter.
Take a look to the sample project as reference.

[2022-04-27 17:11] #84 closed

[2022-04-27 17:16] Xounay1 commented on #84
My Datasource is using datetime , my field in the DB is a datetime.
![image](https://user-images.githubusercontent.com/82828212/165582588-5bddfe7a-0ad3-4d79-815b-3b3d7a172c6b.png)

My issue 👍
![image](https://user-images.githubusercontent.com/82828212/165582845-741cffa5-175a-474d-b03f-ac56db8dd087.png)

[2022-04-27 17:34] davidegironi commented on #84
You have to check the DataSource of the BindingSource attached to the DataGridView. Take a look at the sample project. Another sample you can look at is this porject here https://github.com/davidegironi/dentned

[2022-04-27 17:43] Xounay1 commented on #84
what should I check at the DataSource level ?
![image](https://user-images.githubusercontent.com/82828212/165587368-f93f2384-dd1b-4472-bbe7-21890ea08fe1.png)

In my datatable the column is set as System.DateTime, in the database the type is DateTime as well.

[2022-04-27 17:54] davidegironi commented on #84
You should iterate each DataTables, and check for the DataColumn type.

[2022-04-27 18:18] Xounay1 commented on #84
I only have 1 datatable,
![image](https://user-images.githubusercontent.com/82828212/165592805-de773e92-44bb-48c2-8abb-10db49bccabf.png)

I tryied to create a new simple project just doing a TOP (100) on a DateTime field from a simple Table, I'm experiencing the same issue.

Could it related to my OS culture info ? or to my datetime data format setup ?
HKEY_CURRENT_USER\ Control Panel\Internationa

[2022-04-27 22:07] Xounay1 commented on #84
I also tried to create a simple project loading dynamically data from a SQL query(forcing to CAST AS DATE) to a datatable then filling the ADGV with the datatable, same result.
![image](https://user-images.githubusercontent.com/82828212/165639242-cf5801c7-4e51-42ca-8b1f-a46536d03e79.png)

[2022-04-30 20:31] JackSadowski opened #85 "Does not refresh with Filter applied and DataTable changes."
My problem is that the Grid does no update properly when and Filter is active and underlying data changes via DataTable.
I bind DataTable using BindingSource like this:

bindingSource = new BindingSource();
grid.DataSource = bindingSource;
bindingSource.DataSource = dataTable;

I apply a filter on one of the columns (using the built-in menu). Then I delete a row in the dataTable:

dataTable.Rows.R

[2022-05-01 13:55] davidegironi commented on #85
Hello, I close this as an Issue cause it's not related to the component, it's something related to you BindingSource. I suggest you to build a simple project and work on that.
Take a look at the FAQ, specificaly this here: https://github.com/davidegironi/advanceddatagridview/issues/16

[2022-05-01 13:55] #85 closed

[2022-05-01 14:11] JackSadowski commented on #85
You are correct and I found the problem on my end. Solution may be useful to others if they run into this:
I was looking for the row to delete in the grid.Rows and taking the index of row to delete. Now, when the rows are filtered, the grid row number does NOT correspond to DataTable row number. I had to look for node to delete in the DataTable and delete it there.

[2022-05-01 14:13] davidegironi commented on #85
Thank you for sharing! Please add a link you your solution to issue #16 that is related to this. Thanks!

[2022-05-02 14:09] JackSadowski commented on #16
Possibly related item: [#85](https://github.com/davidegironi/advanceddatagridview/issues/16)

[2022-05-12 21:24] JackSadowski opened #86 "Tag property null after filter applied."
Hello,
My problem has to do with the row Tag property becoming null after filter is applied.
I populate the grid with a DataTable via BindingSource. I then set each row's Tag property to an object. Then I apply filter to one of the columns.
I then click on one of the rows to generate MouseDown event.
Inside the handler, I look at SelectedRows. Each row's Tag property is null.
Can you help?
Thank y

[2022-05-13 15:37] JackSadowski commented on #86
Found my problem. Apparently, Tag property can be lost after filtering DataGridView. It has to do with internal rows management by the control.

[2022-05-13 16:10] davidegironi commented on #86
Thanks for sharing your solution.

[2022-05-19 15:05] leonardobuasso opened #87 "High memory usage"
I am getting the data as follows the datatable is populated from an sql query
Private bs As New BindingSource
Private dtLote As DataTable
bs.DataSource = dtLote
flexADGV.DataSource = bs

I see high memory usage every time I load the flexADGV (advancedatagridview) The same does not happen when I use Microsoft's datagridview

Am I doing something wrong or is adavancedatagridview not monitoring memor

[2022-05-19 17:46] davidegironi commented on #87
Hello, how many records (columns and rows) are you talking about?

[2022-05-19 21:23] leonardobuasso commented on #87
2 Columns and 100 rows

[2022-05-20 16:08] davidegironi commented on #87
That's nothing to load. It should works fast.
What did you mean with "high memory usage"? How much?
You can download the actual git master brench, and try the sample project. Compare the memory usage with the last one.

[2022-05-23 13:57] dGemini opened #88 "Filter options disappearing"
hello !

I have the following issue, using the advanceddatagridview

My data is coming from an SQL query.  this datatable is then used as datasource of the advanceddatagridview, sometimes it could also be a dataview.

when I filter data, for instance on names out of the list presented when I click on the NAME heading, the filtering occurs correctly.  But when I click again on that NAME heading, th

[2022-05-23 21:42] leonardobuasso commented on #87
Thanks for answering
What I mean is that the memory increases for each Query/Filter
Using the Visual Studio Diagnostic Tool I can see that it costs 750000 (bytes)
The problem is that the zuby objects keep piling up endlessly.
The difference I have with the master git is that it uses GC.Collect(); with a _timememoryusage_Tick Interval = 2000
This is correct?
Is the recommendation to use it every 2

[2022-05-24 06:19] davidegironi commented on #87
There have been a couple of memory leaks fixed on this project, as example you can take a look here: https://github.com/davidegironi/advanceddatagridview/issues/41
I've tested right now the memory usage of the component, I can not find any unusual behaviuor. The sample project on my PC runs using 35Mb, which is fine, also there is a memory test you can run, it will instantiate a few grids, you can

[2022-05-24 06:19] #87 closed

[2022-05-24 06:23] davidegironi commented on #88
Hello, you can use the SetChecklistTextFilterRemoveNodesOnSearchMode to change the filter mode of each column. Take a llok at the sample project, you can find an example there.  to call the SetChecklistTextFilterRemoveNodesOnSearchMode on the column.

[2022-05-24 06:23] #88 closed, assigned to nobody

[2022-05-26 09:13] export-import20219 commented on #16
Hii,
I want to change column header icon programatically. is it possible or not?
Thanks in advance.

[2022-06-21 14:12] Jonathan--V opened #89 "A memory and user object leak is caused by binding a DataTable and creating a new BindingContext"
The code below is a Min-Reprex of an issue in a tool I'm working on. Of course, the tool doesn't create ADGVs in a tight loop like the example below, but it can sometime create and dispose of a huge number of ADGVs of the course of a single run.

I actually noticed the issue when the tool I'm working on hit the maximum number of GDI objects. I haven't been able to make a Min-Reprex for this (after

[2022-06-23 17:48] davidegironi commented on #89
Hello,

Thank you for your feedback.

On net40 all object are disposed.
On net 5.0 don't. I suppose you are running net 5.0 version.

The issue is due to the way net 5.0 handle the objects.
Building ADGV pragmatically, only on net 5.0, seems does not trigger the "OnHandleDestroyed" method of AdvancedDataGridView.cs
Luckily this method is triggered when the ADGV is build and show in a form. At leas

[2022-06-24 10:56] Jonathan--V commented on #89
Hi,

Thank you for your response.

You are correct that I am using .Net 5.0.

I understand that ADGVs are normally used from within a form: you are right that this particular issue occurs in an ADGV that is not attached to a form in the real tool I am working on. In the tool, the contents of the ADGV are used as part of an export of the view of the ADVG, sometimes without that ADVG being from a fo

[2022-06-24 16:47] davidegironi commented on #89
I understand your needs.
You can run this way, seems to work to me.
Let me know.

[code]

[2022-06-27 10:36] Jonathan--V commented on #89
Disposing the ADGV prior to calling the OnHandleDestroyed method works great. This resolves the memory, user object and GDI leaks. Thank you very much for your help in finding this workaround.

[2022-06-28 16:34] davidegironi commented on #89
That's great ;)

[2022-06-28 16:34] #89 closed

[2022-07-12 06:40] oiDilyo opened #90 "How to change ColumHeadStyle?"
I would like to change the column head back color to Gary.
I don`t know how to change this.

[2022-07-13 20:15] davidegironi commented on #90
Hello, what do you mean with header color? Gary?

[2022-07-14 02:01] oiDilyo commented on #90
I mean this.
![Color](https://user-images.githubusercontent.com/85553628/178881002-750acf68-56e0-4385-a493-c8b7a4423576.PNG)

[2022-07-14 05:29] davidegironi commented on #90
Something like this, after the component is being initializated would work:

[code]

[2022-07-14 05:29] #90 closed

[2022-08-06 19:46] rodrigoDambrosio opened #91 "Localization "es-AR""
Hello, I did the translation to Spanish (Argentina) "es-AR"
I have tested it with the sample project and everything seems ok
Here is the JSON file.

[code]

Thanks!

[2022-08-10 05:12] davidegironi commented on #91
Thank you!
I've merged your mod in the master branch

[2022-08-10 05:12] #91 closed

[2022-08-13 14:44] YuLiangLin opened #92 "Memory Leakage Issue with contineous binding to different DataTables"
Hello,

I use this component in .netframework 4.8 winfrom projects, I recent found that there exists memory leakage issue, please see my test code below :

## TEST CODE
[code]

When I use the TestLoop to test AdvancedDataGridView and watch its memore usage, its memoy usage continue grow up, and finally this datagridview crashed.

![image](https://user-images.githubusercontent.com/29618654/18449898

[2022-08-13 17:42] davidegironi commented on #92
Thank you for this feedback.
The reason for this leak is that the ADGV is never disposed, so internal structures always grow. I may take a look to see if there's a workaround, but for now you can dispose the ADGV and use a new one, that way you will not have leaks.

[2022-08-14 02:31] YuLiangLin commented on #92
I found anonther important behavior, if I dont't set the DataSource = null, its memory wouldn't grow up so fast :
[code]
You can see that if we **don't set ADGV's DatSource = null**, its memory would grow up so fast :

![image](https://user-images.githubusercontent.com/29618654/184519807-b5112957-c055-4fbc-a2d7-b2a2388d2fce.png)

Here is side by side comparison chart :

![image](https://user-image

[2022-08-14 04:34] YuLiangLin commented on #92
I found that when I set DataSource = null, it will fire onColumnRemoved Event()

![image](https://user-images.githubusercontent.com/29618654/184520481-56ae3e33-4533-43f2-8678-bc12958c0629.png)

You will add the column header cell into _menuStripToDispose list, and its dipose event is inside OnHandleDestroyed()

![image](https://user-images.githubusercontent.com/29618654/184520525-7d411db7-3e26-467

[2022-08-19 14:52] davidegironi commented on #92
Thank you for your help.
I've investigated further, think I've solved it. Today I've not time. Hopefully I will post here on monday with a suggested solution. I will ask you to check, then I will publish it as a new release fixed.

[2022-08-23 07:01] davidegironi commented on #92
Hello, check this fix out. It should work
https://file.io/Poq7eGaAqGPc

Also notice a DataSource Memory Test was added to the AdvancedDataGridViewSample Project.

Let mw know.

[2022-09-03 01:58] YuLiangLin commented on #92
Hello, I'm sorry that I missed this message, I cannot access that file, could you upload it again?

[2022-09-04 09:25] davidegironi commented on #92
Fine it here: https://file.io/N36MDF2Q1TnU
It should last 4 weeks

[2022-09-04 14:56] YuLiangLin commented on #92
Hi,

I test it today, some feedbacks below :
1.If assign the datasouce to null first, and then binding to this ADGV's datasource, the memory will not continously increase.
2. If don't assign the datasouce to null first, and contineously binding new datatable to ADGV, it still have slightly leakage issue in my test project, I saw you add a timer to perform GC.Collect() every 2 seconds, and I did th

[2022-09-07 06:23] davidegironi commented on #92
I think this last one could be due to some DataSource disposing. Anyone that's a minor thing.
Fix merged to main brench, draft a new release to nuget too.
Thank you for your help.

[2022-09-07 06:23] #92 closed

[2022-09-08 15:02] MattH-Work opened #93 "Issue with Sort Order (DG.AdvancedDataGridView 1.2.27307.7)"
As can be seen below, the 'Days Remaining' column does not sort correctly
It is detected as numerical, as the sort order offers up 'Smallest to Largest' etc
All other columns sort correctl;y (Text, Dates & two other numerical)
![image](https://user-images.githubusercontent.com/84494183/189156250-635f3469-d16d-45c2-9e73-ab5afb68fbbb.png)

[2022-09-08 15:29] davidegironi commented on #93
Hello, it seems it is a string column. Is should be a int column type.
Take a look at the sample project, there you can find an "int" column ordered. Lokking at the code you will find type int for this column
`_dataTable.Columns.Add("int", typeof(int));`

[2022-09-13 11:56] lstoeckert opened #94 "Cannot access a disposed object (1.2.27307.7)"
I've been using your AdvancedDataGridView without issues for a long time (great job).  But with the latest build, I've started getting an error in all of my implementations of it.  When the 'down arrow' for a column is pressed I get a "Cannot access a disposed object.' and it calls out the object 'MenuStrip'.  If I revert back to the previous version (.6), the problem goes away.

![Screenshot 2022

[2022-09-13 12:32] davidegironi commented on #94
Hello @lstoeckert
Thanks for let me know.
I think this is a bug opened from the last issue fix https://github.com/davidegironi/advanceddatagridview/issues/92
Indeed for this issue MenuStrip are disposed OnDataSourceChanged
I've checked it on the sample project but I'm not able to reproduce your error.
Can you prepare a sample project to reproduce this error?

[2022-09-13 12:32] #93 closed

[2022-09-13 12:32] davidegironi commented on #93
I was not able to reproduce the error. I close this issue.

[2022-09-13 12:48] lstoeckert commented on #94
I created a small VB sample that reproduces the problem.
[ADGVTest.zip](https://github.com/davidegironi/advanceddatagridview/files/9557151/ADGVTest.zip)

[2022-09-13 13:07] davidegironi commented on #94
I'm working on this, let me Reopen this issue. I think I get the point...

[2022-09-13 13:37] davidegironi commented on #94
The problem is that you are change the datasource after the columns has been added to datasource, and also your datatable has already binded a datasource.

Taking your example as source, the following way you get the problem you have:
[code]
the following you have not
[code]

But, I've fixed this inside ADGV to let you use your current way, cause it's also a legitimate way.
I basically check for _

[2022-09-13 13:55] lstoeckert commented on #94
Davide,

Thank you for looking into this.  I’ve downloaded the file you provided, unfortunately, it is a raw code file and I’m not sure how to incorporate that into my program.  Would it be possible to just get the updated DLL?

Regards,

Lee

From: Davide Gironi ***@***.***>
Sent: Tuesday, September 13, 2022 9:38 AM
To: davidegironi/advanceddatagridview ***@***.***>
Cc: Lee Stoeckert ***@***.***>

[2022-09-13 14:03] davidegironi commented on #94
Unzip the file, you should see the AdvancedDataGridView.sln file.
Open this solution file with Visual Studio (you should have 2019). Then build it using Visual Studio. You should find the DLL in the usual Debug or Release folder, depending on the kind of compilation you have done.

[2022-09-13 17:31] lstoeckert commented on #94
Davide,

I’ve been trying to do this.  I can’t compile your project ‘as is’ because it refers to .Net 4.0 which I don’t have and the SDK is no longer available.  When I remove the 4.0 from your project and compile it, the resulting DLL turns out not to be the one that my project is using from the NuGet package, for some reason, it is using the 4.0 and I can’t switch it to the 5.0.

Suggestions?

R

[2022-09-14 04:08] davidegironi commented on #94
Here you can find compiled dll for both net40 and net5 https://file.io/uXbZp5ToPFJb

[2022-09-14 11:45] lstoeckert commented on #94
Thank you.  I’ve installed these DLLs and the problem is resolved.  Thank you for all your help!

Regards,

Lee

From: Davide Gironi ***@***.***>
Sent: Wednesday, September 14, 2022 12:09 AM
To: davidegironi/advanceddatagridview ***@***.***>
Cc: Lee Stoeckert ***@***.***>; State change ***@***.***>
Subject: Re: [davidegironi/advanceddatagridview] Cannot access a disposed object (1.2.27307.7) (Issu

[2022-09-14 14:26] lstoeckert commented on #94
I tested my sample project with these DLLs and the problem was resolved.  I also tested with one of the larger projects and the problem there is also resolved.  Thank you so much for addressing this issue and for the great product!  I assume they'll be a update to NuGet for .8 shortly?

[2022-09-14 18:00] davidegironi commented on #94
Fix published to master branch and nuget.
Thank you for your feedback and testing.

[2022-09-14 18:00] #94 closed

[2022-09-15 16:07] ChristopherGuay opened #95 "Designer-Generated Columns do not have type-specific filtering"
Hi!
I am currently having an issue getting the type-dependent filtering behaviour to work with pre-defined columns (generated by the designer).

Columns created in the designer result in MenuStrips with datatype = null and only ever have the text custom filtering. Columns that are autogenerated result in MenuStrips with the appropriate datatype and the type-dependent filtering enabled. There are m

[2022-09-15 17:25] davidegironi commented on #95
Hello, once assigned the type of the column can not be changed.
What about building a DataSource and binding it to the GridView? It's simpler than the design, and you can use the designer to build a DataSource too (depending on the db you are using). To me that's the faster thing.
If you create a small sample project I can take a look at your code, but I suppose there's not much to do.

[2022-09-15 18:36] ChristopherGuay commented on #95
In looking at the source code I don't understand why the type of the column cannot be changed. It appears that if the MenuStrip or ColumnHeaderCell objects were accessible then either could be made null and recreated. Auto-generated columns have their types detected dynamically when they are added to the DataGridView, could the OnColumnAdded event or very similar not be able to be triggered some o

[2022-09-16 06:07] davidegironi commented on #95
Hello. If you take a look at the MenuStrip.cs constructor, you should see that datatype defines the way the menu is built. Of course one can made DataType settable by a getter/setter and change the code in such a way that the components dynamically react to DataType change, but that's not how it works now.
So you can do this, but a deeper analysis of the code and a few changes are needed.
You can

[2022-09-16 06:07] #95 closed

[2022-10-05 09:20] marcoahp opened #97 "Change languaje to Spanish"
How can I change language to Spanish es-ES?
You can apply the same as es-AR which somebody have sent to es-ES

[2022-10-05 09:43] davidegironi commented on #97
Hello,

Take a look at the sample project (AdvancedDataGridViewSample), you can use the SetTranslations Method, if you have a file (suppose lang.json) you can use like this:
[code]

If you want to send me a "lang_es-ES.json" file I will add to the sample project, so that other people can use that.

[2022-10-05 10:48] marcoahp commented on #97
Hi,

I’ve done it and it works fine. I send you the language file.

It would be great if it change language with the system language without settranslations command.

Best regards,

Marco

De: Davide Gironi ***@***.***>
Enviado el: miércoles, 5 de octubre de 2022 11:44
Para: davidegironi/advanceddatagridview ***@***.***>
CC: marcoahp ***@***.***>; Author ***@***.***>
Asunto: Re: [davidegironi/adva

[2022-10-06 09:56] davidegironi commented on #97
Hello,

You can attache here in a post the language file, I will add the the next commit.
I prefer to leave outside the change language logic. This way one can set a language for the desktop project is building independently from the system language.
You can check this stackoverflow here to detect the system language and select the language file according to it: https://stackoverflow.com/questions

[2022-10-06 09:56] #97 closed

[2022-11-13 12:40] MartinErdely opened #98 "Localization not working for every text"
For some reason when I tried to setup hungarian localization, only certain texts got replaced. Tried the same way with the included italian lang file and the results were the same.

Picture of the error:
![localization_error](https://user-images.githubusercontent.com/79600066/201521841-db4b2f98-d70a-44b1-83ad-9ac50d158ff5.png)

Picture of the initialization:
![image](https://user-images.githubuser

[2022-11-14 07:16] davidegironi commented on #98
Hello,

at a first look it seems there's an error in your file.
Check out the line:
"ADGVFilterStringDescription": "Sorok megjelenítése ahol az érték {0} "{1}"",
it shoul be
"ADGVFilterStringDescription": "Sorok megjelenítése ahol az érték {0} \"{1}\"",

[2022-11-14 11:29] MartinErdely commented on #98
Yeah I have it like that, I just didn't see that in my comment it is also missing due to githubs formating. It's still not working properly tho, so I'm now trying to figure out the differences in our projects, cause if I include the hungarian lang file into your project it works like a charm.

[2022-11-14 17:32] MartinErdely commented on #98
Columns created in the designer seems to be the issue, I managed to solve the problem by creating everything dynamically. However I got mixed results during testing, I can't say for completely sure what caused the issue, sometimes it was pretty random. Overall my issue is now solved, so I close this.

[2022-11-14 17:32] #98 closed

[2022-11-14 17:45] davidegironi commented on #98
Great, let me know if you find the root cause of the problem.

[2022-11-27 09:16] barawy commented on #16
can you post example with vb.net and access database
mainly how to use the search bar

[2022-11-28 17:13] davidegironi commented on #16
Hello @barawy . This library is mainly written in C#, so for the sample project. Unluckily I've no time to dedicate to sample implementation. Buf if you do this, you can poste your sample link here. It would be helpful maybe for other.